@import "partials/normalize";

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
   	GLOBAL 
   :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

   .temp-broken {
   	line-height: 1.4;
   	margin: 2em auto;
   	max-width: 680px;
   	width: 90%;
   }

   .temp-broken section {
   	font-size: 1.5em;
   	overflow: hidden;
   }

   .temp-broken img, .temp-broken p {
   	float: left;
   	width: 50%;
   }

   a {
   	color: #b51f24;
   	text-decoration: none;
   }

   li {
      margin-bottom: .5em;
   }

   footer {
      margin-top: 2em;
   }

   /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
      POSTS 
   :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

   .post-standard {
      font-size: 1.25rem;
      line-height: 1.4;
      margin: 2rem auto;
      max-width: 600px;
      width: 87.5%;
   }

   .post-standard h2 {
      margin-bottom: 0;
   }

   .post-standard h2 + p {
      margin-top: .25rem;
   }

   .post-standard code {
      color: #666;
   }