// *************************************
//
//   Roulettingale
//   -> Project styles for roulette and martingale
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

// .structure

// -------------------------------------
//   Config
// -------------------------------------

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/card'
@import 'components/cell'
@import 'components/row'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/header'
@import 'structures/footer'

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

$tan: #f1e1cb
$black: #0a100c
$green: #186929
$yellow: #fed275
$red: #b52316

// -------------------------------------
//   Foundation - Base
// -------------------------------------

@import 'foundation/tools'

.troubleshoot
	box-shadow: 0 0 0 1px pink

body
	font-family: 'adelle', 'Helvetica Neue'
	font-weight: 300

h1,
h2,
h3,
h4,
h5
	font-family: 'adelle', 'Helvetica Neue'
	font-weight: 400

.h5, h5
	color: mix(#000000, $tan, 25%)
	font-size: $b-fontSize
	@extend .ttu
	margin-top: -($b-space-s)

dl,
dt,
dd
	margin: 0
	padding: 0

dd + dt
	margin-top: $b-space-s

ul
	margin: 0
	padding: 0

article
	margin-top: $b-space-l

// -------------------------------------
//   Inbox
// -------------------------------------

.vat
	vertical-align: top

.dib + .dib
	padding-left: $b-space-xl

th
	font-weight: 400
	text-align: left

td
	border: 1px solid #f5f5f5
	white-space: nowrap

	&:nth-child(odd)
		background: #fcfcfc

th,
td
	padding: $b-space-s
	text-align: center

.positive
	color: $green

.positive--a
	color: $green
	// background-color: rgba($green, 0.5)
	// color: $tan
	// text-align: center

.negative
	color: $red

.negative--a
	color: $red
	// background-color: rgba($red, 0.5)
	// color: $tan
	// text-align: center