// *************************************
//
//   Roulettingale
//   -> Project styles for roulette and martingale
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

// .structure

// -------------------------------------
//   Config
// -------------------------------------

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/card'
@import 'components/cell'
@import 'components/grid'
@import 'components/row'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/header'
@import 'structures/footer'

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Base
// -------------------------------------

@import 'foundation/tools'

.troubleshoot
	box-shadow: 0 0 0 1px pink

body
	font-size: 16px

body,
h1,
h2,
h3,
h4,
h5
	font-family: 'Helvetica Neue'

td,
th
	padding: 0 $b-space

th
	text-align: left

dl,
dt,
dd
	margin: 0
	padding: 0

.tsxxl
	font-size: 350%

dt
	@extend .tsxxl
	line-height: 1

dd
	@extend .ttu

dd + dt
	margin-top: $b-space-s

article
	margin-bottom: $b-space-xl

// -------------------------------------
//   Foundation - Structures
// -------------------------------------

.dollars:before
	content: "$"
	font-size: 50%
	vertical-align: top