.slide--base {
  -moz-transition: max-height 0.5s ease-in-out;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.slide--base.is-visible {
  max-height: 1000px;
}
