---
layout: default
---

.home
  .columns-two
    .column
      %img.dan(src="/images/dan-code-school.svg")
    .column
      %section.intro

        %h1 
          I 
          <span data-icon="&#x0028;" aria-hidden="true"></span> 
          the web 
          %div 
            and the people that build it.

        %h3 A little about me:

        %p
          %span 
            I work with the awesome team at 
            %a(href="http://envylabs.com") Envy Labs
            , doing front-end work for projects including 
            %a(href="http://codeschool.com")Code School.
          %span
            Because I'm (probably a little too) social, I 
            %a(href="http://twitter.com/dandenney") tweet a lot
            , attend as many meetups and conferences as possible, 
            %a(href="/posts.html")share my thoughts via posts
            and quick
            %a(href="/thoughts.html") thoughts
            and even run a 
            %a(href="http://frontendconf.com")front-end conf
            with the help of my awesome wife, Cherrie.

        %p 
          %small There's more to the story: I'm a husband, dad, traveler, music lover and a foodie but most of my sharing on here is about the interwebs.

