---
layout: default
---

%section.wrapper

  %h2 
    I work for 
    %a(href="http://envylabs.com")Envy Labs 
    and spend a good deal of my time on
    %a(href="http://www.codeschool.com")Code School
    , where we teach people to <em>learn by doing</em>.

  .columns-two
    
    .column

      %h2 Front-End Dev

      %p 
        I'm one of the front-end devs and part of the Design Team at Envy Labs. As far as my day-to-day goes, I generally am doing something related to implementing a design. Even though I am officially a front-end dev, the actual tasks may involve anything from research, sketching, wireframing, creating mockups and coding.

    .column

      %h2 Shop Talk and Drinks

      %p 
        I'm a shy extrovert. So, while I might not be the first to talk (or may not talk much at all in a group) I am completely engergized by being around people. This comes in handy because us web folks like to get together and talk shop. I try to keep up with everyone on the social networks and over coffee or beer at get-togethers.

%section.wrapper

  .inline-list.js-scorecard.badges.space-top
  
    %h2 I'm not just a front-end dev, I'm also a customer.

    %p
      I'm determined to get them all, but here are the Code School badges that I have earned so far. These come from a cool little script made by
      %a(href="https://twitter.com/dmondark")dmondark
      called  
      %a(href="http://awhitebox.com/scorecard/index.html")Scorecard.
      If you're rocking your badges on your site, be sure to 
      %a(href="http://twitter.com/dandenney")@ me with your url
      so I can check it out.

    #load-message