// *************************************
//
//   [Project Name] - MVCSS v4.0.7
//   -> Manifest
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/reset'
@import 'foundation/helpers'
@import 'foundation/config'
@import 'foundation/base'

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/bucket'
@import 'components/card'
@import 'components/cell'
@import 'components/grid'
@import 'components/row'
@import 'components/well'

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/header'
@import 'structures/footer'

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import 'foundation/tools'

// -------------------------------------
//   Inbox
// -------------------------------------

.profile
	color: $c-text-invert
	margin: 0 auto
	width: 200px
	a
		color: $c-text-invert
		&:hover,
		&:active
			color: darken($c-text-invert, 15%)

	+respond-to($g-m)
		float: right
		margin: 0

