// *************************************
//
//   Application
//   -> MVCSS v3.0.1
//
// *************************************

// -------------------------------------
//   Compass
// -------------------------------------

@import "compass"

// -------------------------------------
//   Core
// -------------------------------------

// ----- Reset ----- //

@import "core/reset"

// ----- Settings ----- //

@import "core/settings"

// ----- Helpers ----- //

@import "core/helpers"

// ----- Base ----- //

@import "core/base"

// ----- Content ----- //

@import "core/content"

// ----- Layout ----- //

@import "core/layout"

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/example"
@import "modules/buttons"
@import "modules/header"
@import "modules/footer"
@import "modules/pseudoNav"

// -------------------------------------
//   Sections
// -------------------------------------

@import "sections/posts"
@import "sections/home"

// -------------------------------------
//   Inbox
// -------------------------------------

.mtl
  margin-top: 1.5em

.center
  text-align: center

.mhc
  margin: 0 auto

.twitter-tweet
  margin: 10px auto !important

// Article Specific

.split
  display: inline-block
  margin: 0 -4px 0 0
  width: 50%

.freddie
  max-width: 90%

.events--upcoming
  margin: 4em 4% 2em

  .list--item
    text-align: center
    +respond-to(768px)
      +box-sizing(border-box)
      border: 1px solid #efefef
      display: inline-block
      margin: 1em 0.5em
      padding: 1em
      vertical-align: top
      width: 33%

    +respond-to(1000px)
      width: 24.5%
    +respond-to(1200px)
      width: 18%

.events--title
  margin: 0

.events--meta
  font-size: 85%
  margin: 0

.attending--image
  border-radius: 60px
  display: block
  margin: 0 auto 0.5em

.is-past
  opacity: 0.5

.mbf
  margin-bottom: 0

.mtf
  margin-top: 0

.mbl
  margin-bottom: 2em
