---
layout: tinkerings
title: SVG CSS Animation
category: SVG
date: August 18, 2013
css: <link href="/assets/css/tinkerings/svg-cassette.min.css" rel="stylesheet" type="text/css" media="all">
published: true
---

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="323.752px" height="203.977px" viewBox="0 0 323.752 203.977" enable-background="new 0 0 323.752 203.977"
xml:space="preserve">
<g>
<path fill="#EC008C" d="M323.209,192.654c0,5.953-4.826,10.777-10.779,10.777H11.32c-5.951,0-10.779-4.824-10.779-10.777V11.322
c0-5.954,4.828-10.778,10.779-10.778H312.43c5.953,0,10.779,4.824,10.779,10.778V192.654z"/>
<circle cx="93.974" cy="92.074" r="83.382"/>
<path fill="#FFFFFF" d="M312.43,0H11.32C5.068,0,0,5.068,0,11.322v181.332c0,6.251,5.068,11.319,11.32,11.322H312.43
c6.254-0.003,11.322-5.071,11.322-11.322V11.322C323.752,5.068,318.684,0,312.43,0z M322.666,192.654
c0,2.828-1.145,5.382-2.998,7.235c-1.855,1.855-4.41,2.998-7.238,2.998H11.32c-2.826,0-5.383-1.143-7.236-2.998
c-1.854-1.854-2.998-4.407-2.998-7.235V11.322c0-2.829,1.145-5.385,2.998-7.238s4.41-2.998,7.236-2.998H312.43
c2.828,0,5.383,1.145,7.238,2.998c1.854,1.854,2.998,4.409,2.998,7.238V192.654z M35.035,168.122c-8.4,0-15.209,6.812-15.209,15.21
c0,8.402,6.809,15.211,15.209,15.211s15.209-6.809,15.211-15.211C50.244,174.934,43.436,168.122,35.035,168.122z M45.023,193.32
c-2.559,2.556-6.086,4.136-9.988,4.136c-3.9,0-7.428-1.58-9.986-4.136c-2.555-2.558-4.135-6.084-4.135-9.988
c0-3.9,1.58-7.427,4.135-9.985c2.559-2.558,6.086-4.138,9.986-4.138c3.902,0,7.43,1.58,9.988,4.138
c2.557,2.559,4.137,6.085,4.137,9.985C49.16,187.236,47.58,190.763,45.023,193.32z M35.035,176.949
c-3.525,0-6.385,2.857-6.385,6.383c0,3.526,2.859,6.386,6.385,6.386c3.527,0,6.385-2.859,6.385-6.386
C41.42,179.807,38.562,176.949,35.035,176.949z M39.229,187.525c-1.074,1.073-2.555,1.735-4.193,1.735
c-1.637,0-3.117-0.662-4.191-1.735c-1.072-1.073-1.736-2.554-1.736-4.193c0-1.636,0.664-3.118,1.736-4.191
c1.074-1.073,2.555-1.736,4.191-1.736c1.639,0,3.119,0.663,4.193,1.736c1.072,1.073,1.736,2.556,1.736,4.191
C40.965,184.972,40.301,186.452,39.229,187.525z M16.566,164.638c-2.225,0-4.029,1.806-4.029,4.029
c0,2.225,1.805,4.029,4.029,4.029c2.227,0,4.029-1.805,4.029-4.029C20.596,166.443,18.793,164.638,16.566,164.638z M18.84,170.94
c-0.584,0.582-1.385,0.939-2.273,0.939s-1.689-0.357-2.273-0.939c-0.58-0.585-0.939-1.385-0.939-2.273s0.359-1.688,0.939-2.273
c0.584-0.582,1.385-0.939,2.273-0.939s1.689,0.357,2.273,0.939c0.582,0.585,0.941,1.385,0.941,2.273S19.422,170.355,18.84,170.94z
M10.682,187.723c-3.023,0-5.477,2.454-5.477,5.478c0,3.027,2.453,5.479,5.477,5.479c3.025,0,5.479-2.451,5.479-5.479
C16.16,190.177,13.707,187.723,10.682,187.723z M13.98,196.498c-0.846,0.845-2.01,1.365-3.299,1.365s-2.451-0.521-3.297-1.365
c-0.844-0.844-1.365-2.009-1.365-3.298c0-1.288,0.521-2.451,1.365-3.297c0.846-0.843,2.008-1.365,3.297-1.365
s2.453,0.522,3.299,1.365c0.844,0.846,1.363,2.009,1.365,3.297C15.344,194.489,14.824,195.654,13.98,196.498z M161.325,171.874
c3.025,0,5.477-2.454,5.477-5.478c0-3.027-2.452-5.479-5.477-5.479c-3.026,0-5.479,2.451-5.479,5.479
C155.846,169.42,158.299,171.874,161.325,171.874z M158.027,163.098c0.846-0.845,2.008-1.364,3.297-1.364
c1.289,0,2.451,0.52,3.296,1.364s1.365,2.01,1.365,3.299c0,1.288-0.52,2.45-1.365,3.297c-0.846,0.843-2.007,1.365-3.296,1.365
c-1.29,0-2.452-0.522-3.297-1.365c-0.846-0.847-1.365-2.009-1.365-3.297C156.662,165.107,157.182,163.942,158.027,163.098z
M10.953,16.16c3.027,0,5.479-2.451,5.479-5.479c0-3.024-2.451-5.478-5.479-5.478c-3.023,0-5.477,2.453-5.477,5.478
C5.477,13.709,7.93,16.16,10.953,16.16z M7.658,7.386C8.502,6.542,9.664,6.02,10.953,6.02s2.453,0.522,3.297,1.366
c0.846,0.845,1.367,2.007,1.367,3.296s-0.521,2.451-1.367,3.298c-0.844,0.845-2.008,1.365-3.297,1.367
c-1.289-0.002-2.451-0.522-3.295-1.367c-0.846-0.847-1.367-2.009-1.367-3.298S6.812,8.23,7.658,7.386z M288.895,168.122
c-8.398,0-15.209,6.812-15.209,15.21c0,8.402,6.811,15.211,15.209,15.211c8.402,0,15.211-6.809,15.211-15.211
C304.105,174.934,297.297,168.122,288.895,168.122z M298.883,193.32c-2.557,2.556-6.086,4.136-9.988,4.136
c-3.9,0-7.428-1.58-9.984-4.136c-2.557-2.558-4.139-6.084-4.139-9.988c0-3.9,1.582-7.427,4.139-9.985
c2.557-2.558,6.084-4.138,9.984-4.138c3.902,0,7.432,1.58,9.988,4.138c2.557,2.559,4.137,6.085,4.137,9.985
C303.02,187.236,301.439,190.763,298.883,193.32z M288.895,176.949c-3.525,0-6.383,2.857-6.383,6.383
c0,3.526,2.857,6.386,6.383,6.386c3.527,0,6.385-2.859,6.387-6.386C295.279,179.807,292.422,176.949,288.895,176.949z
M293.088,187.525c-1.074,1.073-2.555,1.735-4.193,1.735c-1.637,0-3.117-0.662-4.189-1.735c-1.074-1.073-1.738-2.554-1.738-4.193
c0-1.636,0.664-3.118,1.738-4.191c1.072-1.073,2.553-1.736,4.189-1.736c1.639,0,3.119,0.663,4.193,1.736
c1.072,1.073,1.736,2.556,1.736,4.191C294.824,184.972,294.16,186.452,293.088,187.525z M311.395,168.667
c-0.002-2.224-1.805-4.029-4.029-4.029s-4.029,1.806-4.029,4.029c0,2.225,1.805,4.029,4.029,4.029S311.393,170.892,311.395,168.667
z M307.365,171.88c-0.889,0-1.691-0.357-2.273-0.939c-0.582-0.585-0.941-1.385-0.941-2.273s0.359-1.688,0.941-2.273
c0.582-0.582,1.385-0.939,2.273-0.939s1.689,0.357,2.271,0.939c0.584,0.585,0.941,1.385,0.941,2.273s-0.357,1.688-0.941,2.273
C309.055,171.522,308.254,171.88,307.365,171.88z M313.25,187.723c-3.025,0-5.477,2.454-5.477,5.478
c0,3.027,2.451,5.479,5.477,5.479s5.477-2.451,5.477-5.479C318.727,190.177,316.275,187.723,313.25,187.723z M316.547,196.498
c-0.846,0.845-2.008,1.365-3.297,1.365s-2.451-0.521-3.297-1.365c-0.846-0.844-1.365-2.009-1.365-3.298
c0-1.288,0.52-2.451,1.365-3.297c0.846-0.843,2.008-1.365,3.297-1.365s2.451,0.522,3.297,1.365
c0.844,0.846,1.365,2.009,1.365,3.297C317.912,194.489,317.391,195.654,316.547,196.498z M312.979,16.16
c3.025,0,5.479-2.451,5.479-5.479c0-3.024-2.453-5.478-5.479-5.478s-5.477,2.453-5.479,5.478
C307.502,13.709,309.953,16.16,312.979,16.16z M309.682,7.386c0.846-0.844,2.008-1.366,3.297-1.366s2.451,0.522,3.297,1.366
c0.846,0.845,1.365,2.007,1.365,3.296s-0.52,2.451-1.365,3.298c-0.846,0.845-2.008,1.365-3.297,1.367
c-1.289-0.002-2.451-0.522-3.297-1.367c-0.844-0.847-1.367-2.009-1.367-3.298S308.838,8.23,309.682,7.386z M117.242,179.674
c-3.672,0-6.646,2.976-6.646,6.646c0,3.672,2.975,6.647,6.646,6.647c3.67,0,6.646-2.976,6.646-6.647
C123.889,182.649,120.912,179.674,117.242,179.674z M120.992,190.071c-0.961,0.961-2.283,1.552-3.75,1.554
c-1.467-0.002-2.789-0.593-3.75-1.554c-0.963-0.962-1.553-2.284-1.553-3.751s0.59-2.788,1.553-3.748
c0.961-0.963,2.283-1.555,3.75-1.555s2.789,0.592,3.75,1.555c0.961,0.96,1.551,2.281,1.551,3.748S121.953,189.109,120.992,190.071z
M206.738,179.674c-3.672,0-6.647,2.976-6.647,6.646c0,3.672,2.976,6.647,6.647,6.647c3.671,0,6.646-2.976,6.646-6.647
C213.385,182.649,210.409,179.674,206.738,179.674z M210.488,190.071c-0.962,0.961-2.283,1.552-3.75,1.554
c-1.467-0.002-2.789-0.593-3.75-1.554c-0.961-0.962-1.553-2.284-1.553-3.751s0.592-2.788,1.553-3.748
c0.961-0.963,2.283-1.555,3.75-1.555s2.788,0.592,3.75,1.555c0.961,0.96,1.553,2.281,1.553,3.748S211.449,189.109,210.488,190.071z
M264.666,161.129c-0.283-1.207-1.023-2.261-1.982-3.022c-0.961-0.762-2.154-1.247-3.391-1.247H64.688
c-1.238,0-2.432,0.485-3.391,1.247c-0.961,0.762-1.701,1.815-1.982,3.022l-7.768,33.512c-0.076,0.331-0.113,0.655-0.113,0.974
c-0.002,1.004,0.383,1.924,1.057,2.573c0.674,0.655,1.625,1.028,2.693,1.028h79.756c1.244,0,2.379-0.511,3.195-1.328
c0.816-0.818,1.328-1.949,1.326-3.193v-8.327c0.002-0.873,0.355-1.665,0.936-2.242c0.578-0.578,1.369-0.934,2.242-0.934h38.702
c0.873,0,1.665,0.355,2.243,0.934c0.578,0.577,0.936,1.369,0.936,2.242v8.327c0,1.244,0.51,2.375,1.327,3.193
c0.815,0.817,1.949,1.328,3.193,1.328h79.759c1.066,0,2.016-0.373,2.689-1.028c0.678-0.649,1.061-1.569,1.059-2.573
c0-0.318-0.037-0.643-0.113-0.974L264.666,161.129z M60.625,161.434c0.195-0.857,0.756-1.681,1.506-2.275
c0.752-0.598,1.68-0.958,2.557-0.956h194.605c0.877-0.002,1.805,0.358,2.555,0.956c0.752,0.595,1.311,1.418,1.508,2.275
l4.166,17.967h-44.529c-1.01,0.003-2.367-0.118-3.709-0.309c-1.342-0.194-2.68-0.46-3.648-0.745l-8.363-2.453
c-1.064-0.311-2.441-0.584-3.834-0.784c-1.394-0.2-2.791-0.324-3.899-0.324h-75.097c-1.109,0-2.506,0.124-3.9,0.324
c-1.391,0.2-2.768,0.474-3.832,0.784l-8.365,2.453c-0.967,0.285-2.305,0.551-3.646,0.745c-1.342,0.19-2.701,0.312-3.709,0.309
H56.459L60.625,161.434z M270.555,197.224c-0.408,0.393-0.996,0.646-1.756,0.648H189.04c-0.874-0.002-1.665-0.356-2.243-0.936
c-0.579-0.578-0.934-1.369-0.936-2.242v-8.327c0.002-1.244-0.508-2.378-1.326-3.193c-0.816-0.817-1.951-1.329-3.194-1.329h-38.702
c-1.242,0-2.377,0.512-3.195,1.329c-0.816,0.815-1.328,1.949-1.326,3.193v8.327c-0.002,0.873-0.355,1.664-0.934,2.242
c-0.58,0.579-1.371,0.934-2.244,0.936H55.184c-0.762-0.002-1.35-0.256-1.758-0.648c-0.406-0.396-0.646-0.94-0.648-1.609
c0-0.211,0.025-0.436,0.078-0.669l3.291-14.2h44.842c1.109,0,2.508-0.124,3.9-0.324c1.391-0.2,2.77-0.474,3.832-0.785l8.365-2.451
c0.969-0.284,2.305-0.551,3.646-0.744s2.701-0.313,3.709-0.312h75.097c1.009-0.002,2.366,0.118,3.708,0.312
c1.343,0.193,2.68,0.46,3.646,0.744l8.365,2.451c1.063,0.312,2.441,0.585,3.834,0.785s2.791,0.324,3.9,0.324h44.84l3.291,14.2
c0.055,0.233,0.08,0.458,0.08,0.669C271.201,196.283,270.961,196.828,270.555,197.224z M262.912,188.365
c-1.873,0-3.387,1.516-3.387,3.387s1.514,3.389,3.387,3.389s3.389-1.518,3.389-3.389S264.785,188.365,262.912,188.365z
M264.357,193.198c-0.373,0.371-0.879,0.599-1.445,0.599s-1.072-0.228-1.445-0.599c-0.371-0.371-0.598-0.878-0.598-1.446
c0-0.565,0.227-1.071,0.598-1.445c0.373-0.37,0.879-0.598,1.445-0.598s1.072,0.228,1.445,0.598c0.371,0.374,0.6,0.88,0.6,1.445
C264.957,192.32,264.729,192.827,264.357,193.198z M61.383,188.365c-1.873,0-3.389,1.516-3.389,3.387s1.516,3.389,3.389,3.389
c1.871,0,3.387-1.518,3.387-3.389S63.254,188.365,61.383,188.365z M62.828,193.198c-0.373,0.371-0.881,0.599-1.445,0.599
c-0.568,0-1.074-0.228-1.447-0.599c-0.371-0.371-0.598-0.878-0.598-1.446c0-0.565,0.227-1.071,0.598-1.445
c0.373-0.37,0.879-0.598,1.447-0.598c0.564,0,1.072,0.228,1.445,0.598c0.371,0.374,0.598,0.88,0.598,1.445
C63.426,192.32,63.199,192.827,62.828,193.198z M13.225,192.667h-2.006v-2.009c0-0.295-0.24-0.533-0.537-0.533
c-0.295,0-0.535,0.238-0.535,0.533v2.009H8.141c-0.297,0-0.537,0.238-0.537,0.533c0,0.298,0.24,0.536,0.537,0.536h2.006v2.007
c0,0.297,0.24,0.535,0.535,0.535c0.297,0,0.537-0.238,0.537-0.535v-2.007h2.006c0.295,0,0.535-0.238,0.535-0.536
C13.76,192.905,13.52,192.667,13.225,192.667z M158.783,166.932h2.006v2.006c0,0.297,0.241,0.536,0.536,0.536
s0.535-0.239,0.535-0.536v-2.006h2.006c0.296,0,0.536-0.24,0.536-0.535c0-0.296-0.24-0.537-0.536-0.537h-2.006v-2.006
c0-0.296-0.24-0.535-0.535-0.535s-0.536,0.239-0.536,0.535v2.006h-2.006c-0.297,0-0.537,0.241-0.537,0.537
C158.246,166.691,158.486,166.932,158.783,166.932z M8.41,11.218h2.008v2.006c0,0.296,0.24,0.536,0.535,0.536
s0.535-0.24,0.535-0.536v-2.006h2.008c0.297,0,0.535-0.24,0.535-0.536c0-0.295-0.238-0.535-0.535-0.535h-2.008V8.14
c0-0.296-0.24-0.535-0.535-0.535s-0.535,0.239-0.535,0.535v2.007H8.41c-0.295,0-0.535,0.24-0.535,0.535
C7.875,10.978,8.115,11.218,8.41,11.218z M315.793,192.667h-2.008v-2.009c0-0.295-0.24-0.533-0.535-0.533
c-0.297,0-0.535,0.238-0.535,0.533v2.009h-2.008c-0.295,0-0.535,0.238-0.535,0.533c0,0.298,0.24,0.536,0.535,0.536h2.008v2.007
c0,0.297,0.238,0.535,0.535,0.535c0.295,0,0.535-0.238,0.535-0.535v-2.007h2.008c0.295,0,0.533-0.238,0.533-0.536
C316.326,192.905,316.088,192.667,315.793,192.667z M310.434,11.218h2.008v2.006c0,0.296,0.24,0.536,0.537,0.536
c0.295,0,0.535-0.24,0.535-0.536v-2.006h2.008c0.295,0,0.535-0.24,0.535-0.536c0-0.295-0.24-0.535-0.535-0.535h-2.008V8.14
c0-0.296-0.24-0.535-0.535-0.535c-0.297,0-0.537,0.239-0.537,0.535v2.007h-2.008c-0.293,0-0.533,0.24-0.533,0.535
C309.9,10.978,310.141,11.218,310.434,11.218z"/>
<path fill="#FFFFFF" d="M296.949,15.753H28.16c-5.953,0-10.777,4.827-10.777,10.778v112.345c0,5.952,4.824,10.779,10.777,10.779
h268.789c5.953,0,10.777-4.827,10.777-10.779V26.531C307.727,20.58,302.902,15.753,296.949,15.753z M268.889,108.999
c0,5.951-4.826,10.777-10.779,10.777H67.814c-5.953,0-10.777-4.826-10.777-10.777v-35.48c0-5.953,4.824-10.777,10.777-10.777
h190.295c5.953,0,10.779,4.824,10.779,10.777V108.999z"/>
<path fill="#FFFFFF" d="M93.975,56.947c-18.949,0-34.312,15.362-34.312,34.312c0,18.952,15.363,34.313,34.312,34.313
c18.951,0,34.312-15.361,34.312-34.313C128.287,72.31,112.926,56.947,93.975,56.947z M114.633,94.517
c-0.533,3.418-1.893,6.558-3.871,9.214l-4.199-4.198l-4.223,4.225l4.211,4.214c-2.656,2-5.801,3.38-9.227,3.931v-6.066H91.35v6.167
c-3.525-0.44-6.775-1.759-9.529-3.729l4.516-4.516l-4.227-4.225l-4.605,4.607c-2.146-2.74-3.627-6.027-4.188-9.623h6.715v-5.973
h-6.789c0.477-3.672,1.898-7.043,4.023-9.86l4.844,4.845l4.225-4.226l-4.832-4.833c2.82-2.098,6.188-3.495,9.848-3.955v6.711h5.975
v-6.609c3.557,0.573,6.812,2.045,9.531,4.174l-4.516,4.513l4.225,4.226l4.424-4.423c1.953,2.729,3.266,5.947,3.717,9.438h-6.064
v5.973H114.633z"/>
<path fill="#FFFFFF" d="M230.863,56.947c-18.951,0-34.312,15.362-34.313,34.312c0,18.952,15.362,34.313,34.313,34.313
c18.949,0,34.312-15.361,34.312-34.313C265.176,72.31,249.812,56.947,230.863,56.947z M251.521,94.517
c-0.535,3.418-1.895,6.558-3.869,9.214l-4.199-4.198l-4.227,4.225l4.211,4.214c-2.654,2-5.801,3.38-9.227,3.931v-6.066h-5.973
v6.167c-3.527-0.44-6.775-1.759-9.529-3.729l4.514-4.516l-4.225-4.225l-4.606,4.607c-2.147-2.74-3.626-6.027-4.188-9.623h6.717
v-5.973h-6.789c0.476-3.672,1.898-7.043,4.021-9.86l4.846,4.845l4.225-4.226l-4.832-4.833c2.818-2.098,6.188-3.495,9.848-3.955
v6.711h5.973v-6.609c3.561,0.573,6.812,2.045,9.533,4.174l-4.516,4.513l4.225,4.226l4.424-4.423
c1.953,2.729,3.266,5.947,3.719,9.438h-6.064v5.973H251.521z"/>
<rect x="23.797" y="126.184" fill="#EC008C" width="277.432" height="15.888"/>
</g>
</svg>


<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="323.752px" height="203.977px" viewBox="0 0 323.752 203.977" enable-background="new 0 0 323.752 203.977"
xml:space="preserve">
<g>
<path fill="#EC008C" d="M323.209,192.654c0,5.953-4.826,10.777-10.779,10.777H11.32c-5.951,0-10.779-4.824-10.779-10.777V11.322
c0-5.954,4.828-10.778,10.779-10.778H312.43c5.953,0,10.779,4.824,10.779,10.778V192.654z"/>
<circle cx="93.974" cy="92.074" r="83.382"/>
<path fill="#FFFFFF" d="M312.43,0H11.32C5.068,0,0,5.068,0,11.322v181.332c0,6.251,5.068,11.319,11.32,11.322H312.43
c6.254-0.003,11.322-5.071,11.322-11.322V11.322C323.752,5.068,318.684,0,312.43,0z M322.666,192.654
c0,2.828-1.145,5.382-2.998,7.235c-1.855,1.855-4.41,2.998-7.238,2.998H11.32c-2.826,0-5.383-1.143-7.236-2.998
c-1.854-1.854-2.998-4.407-2.998-7.235V11.322c0-2.829,1.145-5.385,2.998-7.238s4.41-2.998,7.236-2.998H312.43
c2.828,0,5.383,1.145,7.238,2.998c1.854,1.854,2.998,4.409,2.998,7.238V192.654z M35.035,168.122c-8.4,0-15.209,6.812-15.209,15.21
c0,8.402,6.809,15.211,15.209,15.211s15.209-6.809,15.211-15.211C50.244,174.934,43.436,168.122,35.035,168.122z M45.023,193.32
c-2.559,2.556-6.086,4.136-9.988,4.136c-3.9,0-7.428-1.58-9.986-4.136c-2.555-2.558-4.135-6.084-4.135-9.988
c0-3.9,1.58-7.427,4.135-9.985c2.559-2.558,6.086-4.138,9.986-4.138c3.902,0,7.43,1.58,9.988,4.138
c2.557,2.559,4.137,6.085,4.137,9.985C49.16,187.236,47.58,190.763,45.023,193.32z M35.035,176.949
c-3.525,0-6.385,2.857-6.385,6.383c0,3.526,2.859,6.386,6.385,6.386c3.527,0,6.385-2.859,6.385-6.386
C41.42,179.807,38.562,176.949,35.035,176.949z M39.229,187.525c-1.074,1.073-2.555,1.735-4.193,1.735
c-1.637,0-3.117-0.662-4.191-1.735c-1.072-1.073-1.736-2.554-1.736-4.193c0-1.636,0.664-3.118,1.736-4.191
c1.074-1.073,2.555-1.736,4.191-1.736c1.639,0,3.119,0.663,4.193,1.736c1.072,1.073,1.736,2.556,1.736,4.191
C40.965,184.972,40.301,186.452,39.229,187.525z M16.566,164.638c-2.225,0-4.029,1.806-4.029,4.029
c0,2.225,1.805,4.029,4.029,4.029c2.227,0,4.029-1.805,4.029-4.029C20.596,166.443,18.793,164.638,16.566,164.638z M18.84,170.94
c-0.584,0.582-1.385,0.939-2.273,0.939s-1.689-0.357-2.273-0.939c-0.58-0.585-0.939-1.385-0.939-2.273s0.359-1.688,0.939-2.273
c0.584-0.582,1.385-0.939,2.273-0.939s1.689,0.357,2.273,0.939c0.582,0.585,0.941,1.385,0.941,2.273S19.422,170.355,18.84,170.94z
M10.682,187.723c-3.023,0-5.477,2.454-5.477,5.478c0,3.027,2.453,5.479,5.477,5.479c3.025,0,5.479-2.451,5.479-5.479
C16.16,190.177,13.707,187.723,10.682,187.723z M13.98,196.498c-0.846,0.845-2.01,1.365-3.299,1.365s-2.451-0.521-3.297-1.365
c-0.844-0.844-1.365-2.009-1.365-3.298c0-1.288,0.521-2.451,1.365-3.297c0.846-0.843,2.008-1.365,3.297-1.365
s2.453,0.522,3.299,1.365c0.844,0.846,1.363,2.009,1.365,3.297C15.344,194.489,14.824,195.654,13.98,196.498z M161.325,171.874
c3.025,0,5.477-2.454,5.477-5.478c0-3.027-2.452-5.479-5.477-5.479c-3.026,0-5.479,2.451-5.479,5.479
C155.846,169.42,158.299,171.874,161.325,171.874z M158.027,163.098c0.846-0.845,2.008-1.364,3.297-1.364
c1.289,0,2.451,0.52,3.296,1.364s1.365,2.01,1.365,3.299c0,1.288-0.52,2.45-1.365,3.297c-0.846,0.843-2.007,1.365-3.296,1.365
c-1.29,0-2.452-0.522-3.297-1.365c-0.846-0.847-1.365-2.009-1.365-3.297C156.662,165.107,157.182,163.942,158.027,163.098z
M10.953,16.16c3.027,0,5.479-2.451,5.479-5.479c0-3.024-2.451-5.478-5.479-5.478c-3.023,0-5.477,2.453-5.477,5.478
C5.477,13.709,7.93,16.16,10.953,16.16z M7.658,7.386C8.502,6.542,9.664,6.02,10.953,6.02s2.453,0.522,3.297,1.366
c0.846,0.845,1.367,2.007,1.367,3.296s-0.521,2.451-1.367,3.298c-0.844,0.845-2.008,1.365-3.297,1.367
c-1.289-0.002-2.451-0.522-3.295-1.367c-0.846-0.847-1.367-2.009-1.367-3.298S6.812,8.23,7.658,7.386z M288.895,168.122
c-8.398,0-15.209,6.812-15.209,15.21c0,8.402,6.811,15.211,15.209,15.211c8.402,0,15.211-6.809,15.211-15.211
C304.105,174.934,297.297,168.122,288.895,168.122z M298.883,193.32c-2.557,2.556-6.086,4.136-9.988,4.136
c-3.9,0-7.428-1.58-9.984-4.136c-2.557-2.558-4.139-6.084-4.139-9.988c0-3.9,1.582-7.427,4.139-9.985
c2.557-2.558,6.084-4.138,9.984-4.138c3.902,0,7.432,1.58,9.988,4.138c2.557,2.559,4.137,6.085,4.137,9.985
C303.02,187.236,301.439,190.763,298.883,193.32z M288.895,176.949c-3.525,0-6.383,2.857-6.383,6.383
c0,3.526,2.857,6.386,6.383,6.386c3.527,0,6.385-2.859,6.387-6.386C295.279,179.807,292.422,176.949,288.895,176.949z
M293.088,187.525c-1.074,1.073-2.555,1.735-4.193,1.735c-1.637,0-3.117-0.662-4.189-1.735c-1.074-1.073-1.738-2.554-1.738-4.193
c0-1.636,0.664-3.118,1.738-4.191c1.072-1.073,2.553-1.736,4.189-1.736c1.639,0,3.119,0.663,4.193,1.736
c1.072,1.073,1.736,2.556,1.736,4.191C294.824,184.972,294.16,186.452,293.088,187.525z M311.395,168.667
c-0.002-2.224-1.805-4.029-4.029-4.029s-4.029,1.806-4.029,4.029c0,2.225,1.805,4.029,4.029,4.029S311.393,170.892,311.395,168.667
z M307.365,171.88c-0.889,0-1.691-0.357-2.273-0.939c-0.582-0.585-0.941-1.385-0.941-2.273s0.359-1.688,0.941-2.273
c0.582-0.582,1.385-0.939,2.273-0.939s1.689,0.357,2.271,0.939c0.584,0.585,0.941,1.385,0.941,2.273s-0.357,1.688-0.941,2.273
C309.055,171.522,308.254,171.88,307.365,171.88z M313.25,187.723c-3.025,0-5.477,2.454-5.477,5.478
c0,3.027,2.451,5.479,5.477,5.479s5.477-2.451,5.477-5.479C318.727,190.177,316.275,187.723,313.25,187.723z M316.547,196.498
c-0.846,0.845-2.008,1.365-3.297,1.365s-2.451-0.521-3.297-1.365c-0.846-0.844-1.365-2.009-1.365-3.298
c0-1.288,0.52-2.451,1.365-3.297c0.846-0.843,2.008-1.365,3.297-1.365s2.451,0.522,3.297,1.365
c0.844,0.846,1.365,2.009,1.365,3.297C317.912,194.489,317.391,195.654,316.547,196.498z M312.979,16.16
c3.025,0,5.479-2.451,5.479-5.479c0-3.024-2.453-5.478-5.479-5.478s-5.477,2.453-5.479,5.478
C307.502,13.709,309.953,16.16,312.979,16.16z M309.682,7.386c0.846-0.844,2.008-1.366,3.297-1.366s2.451,0.522,3.297,1.366
c0.846,0.845,1.365,2.007,1.365,3.296s-0.52,2.451-1.365,3.298c-0.846,0.845-2.008,1.365-3.297,1.367
c-1.289-0.002-2.451-0.522-3.297-1.367c-0.844-0.847-1.367-2.009-1.367-3.298S308.838,8.23,309.682,7.386z M117.242,179.674
c-3.672,0-6.646,2.976-6.646,6.646c0,3.672,2.975,6.647,6.646,6.647c3.67,0,6.646-2.976,6.646-6.647
C123.889,182.649,120.912,179.674,117.242,179.674z M120.992,190.071c-0.961,0.961-2.283,1.552-3.75,1.554
c-1.467-0.002-2.789-0.593-3.75-1.554c-0.963-0.962-1.553-2.284-1.553-3.751s0.59-2.788,1.553-3.748
c0.961-0.963,2.283-1.555,3.75-1.555s2.789,0.592,3.75,1.555c0.961,0.96,1.551,2.281,1.551,3.748S121.953,189.109,120.992,190.071z
M206.738,179.674c-3.672,0-6.647,2.976-6.647,6.646c0,3.672,2.976,6.647,6.647,6.647c3.671,0,6.646-2.976,6.646-6.647
C213.385,182.649,210.409,179.674,206.738,179.674z M210.488,190.071c-0.962,0.961-2.283,1.552-3.75,1.554
c-1.467-0.002-2.789-0.593-3.75-1.554c-0.961-0.962-1.553-2.284-1.553-3.751s0.592-2.788,1.553-3.748
c0.961-0.963,2.283-1.555,3.75-1.555s2.788,0.592,3.75,1.555c0.961,0.96,1.553,2.281,1.553,3.748S211.449,189.109,210.488,190.071z
M264.666,161.129c-0.283-1.207-1.023-2.261-1.982-3.022c-0.961-0.762-2.154-1.247-3.391-1.247H64.688
c-1.238,0-2.432,0.485-3.391,1.247c-0.961,0.762-1.701,1.815-1.982,3.022l-7.768,33.512c-0.076,0.331-0.113,0.655-0.113,0.974
c-0.002,1.004,0.383,1.924,1.057,2.573c0.674,0.655,1.625,1.028,2.693,1.028h79.756c1.244,0,2.379-0.511,3.195-1.328
c0.816-0.818,1.328-1.949,1.326-3.193v-8.327c0.002-0.873,0.355-1.665,0.936-2.242c0.578-0.578,1.369-0.934,2.242-0.934h38.702
c0.873,0,1.665,0.355,2.243,0.934c0.578,0.577,0.936,1.369,0.936,2.242v8.327c0,1.244,0.51,2.375,1.327,3.193
c0.815,0.817,1.949,1.328,3.193,1.328h79.759c1.066,0,2.016-0.373,2.689-1.028c0.678-0.649,1.061-1.569,1.059-2.573
c0-0.318-0.037-0.643-0.113-0.974L264.666,161.129z M60.625,161.434c0.195-0.857,0.756-1.681,1.506-2.275
c0.752-0.598,1.68-0.958,2.557-0.956h194.605c0.877-0.002,1.805,0.358,2.555,0.956c0.752,0.595,1.311,1.418,1.508,2.275
l4.166,17.967h-44.529c-1.01,0.003-2.367-0.118-3.709-0.309c-1.342-0.194-2.68-0.46-3.648-0.745l-8.363-2.453
c-1.064-0.311-2.441-0.584-3.834-0.784c-1.394-0.2-2.791-0.324-3.899-0.324h-75.097c-1.109,0-2.506,0.124-3.9,0.324
c-1.391,0.2-2.768,0.474-3.832,0.784l-8.365,2.453c-0.967,0.285-2.305,0.551-3.646,0.745c-1.342,0.19-2.701,0.312-3.709,0.309
H56.459L60.625,161.434z M270.555,197.224c-0.408,0.393-0.996,0.646-1.756,0.648H189.04c-0.874-0.002-1.665-0.356-2.243-0.936
c-0.579-0.578-0.934-1.369-0.936-2.242v-8.327c0.002-1.244-0.508-2.378-1.326-3.193c-0.816-0.817-1.951-1.329-3.194-1.329h-38.702
c-1.242,0-2.377,0.512-3.195,1.329c-0.816,0.815-1.328,1.949-1.326,3.193v8.327c-0.002,0.873-0.355,1.664-0.934,2.242
c-0.58,0.579-1.371,0.934-2.244,0.936H55.184c-0.762-0.002-1.35-0.256-1.758-0.648c-0.406-0.396-0.646-0.94-0.648-1.609
c0-0.211,0.025-0.436,0.078-0.669l3.291-14.2h44.842c1.109,0,2.508-0.124,3.9-0.324c1.391-0.2,2.77-0.474,3.832-0.785l8.365-2.451
c0.969-0.284,2.305-0.551,3.646-0.744s2.701-0.313,3.709-0.312h75.097c1.009-0.002,2.366,0.118,3.708,0.312
c1.343,0.193,2.68,0.46,3.646,0.744l8.365,2.451c1.063,0.312,2.441,0.585,3.834,0.785s2.791,0.324,3.9,0.324h44.84l3.291,14.2
c0.055,0.233,0.08,0.458,0.08,0.669C271.201,196.283,270.961,196.828,270.555,197.224z M262.912,188.365
c-1.873,0-3.387,1.516-3.387,3.387s1.514,3.389,3.387,3.389s3.389-1.518,3.389-3.389S264.785,188.365,262.912,188.365z
M264.357,193.198c-0.373,0.371-0.879,0.599-1.445,0.599s-1.072-0.228-1.445-0.599c-0.371-0.371-0.598-0.878-0.598-1.446
c0-0.565,0.227-1.071,0.598-1.445c0.373-0.37,0.879-0.598,1.445-0.598s1.072,0.228,1.445,0.598c0.371,0.374,0.6,0.88,0.6,1.445
C264.957,192.32,264.729,192.827,264.357,193.198z M61.383,188.365c-1.873,0-3.389,1.516-3.389,3.387s1.516,3.389,3.389,3.389
c1.871,0,3.387-1.518,3.387-3.389S63.254,188.365,61.383,188.365z M62.828,193.198c-0.373,0.371-0.881,0.599-1.445,0.599
c-0.568,0-1.074-0.228-1.447-0.599c-0.371-0.371-0.598-0.878-0.598-1.446c0-0.565,0.227-1.071,0.598-1.445
c0.373-0.37,0.879-0.598,1.447-0.598c0.564,0,1.072,0.228,1.445,0.598c0.371,0.374,0.598,0.88,0.598,1.445
C63.426,192.32,63.199,192.827,62.828,193.198z M13.225,192.667h-2.006v-2.009c0-0.295-0.24-0.533-0.537-0.533
c-0.295,0-0.535,0.238-0.535,0.533v2.009H8.141c-0.297,0-0.537,0.238-0.537,0.533c0,0.298,0.24,0.536,0.537,0.536h2.006v2.007
c0,0.297,0.24,0.535,0.535,0.535c0.297,0,0.537-0.238,0.537-0.535v-2.007h2.006c0.295,0,0.535-0.238,0.535-0.536
C13.76,192.905,13.52,192.667,13.225,192.667z M158.783,166.932h2.006v2.006c0,0.297,0.241,0.536,0.536,0.536
s0.535-0.239,0.535-0.536v-2.006h2.006c0.296,0,0.536-0.24,0.536-0.535c0-0.296-0.24-0.537-0.536-0.537h-2.006v-2.006
c0-0.296-0.24-0.535-0.535-0.535s-0.536,0.239-0.536,0.535v2.006h-2.006c-0.297,0-0.537,0.241-0.537,0.537
C158.246,166.691,158.486,166.932,158.783,166.932z M8.41,11.218h2.008v2.006c0,0.296,0.24,0.536,0.535,0.536
s0.535-0.24,0.535-0.536v-2.006h2.008c0.297,0,0.535-0.24,0.535-0.536c0-0.295-0.238-0.535-0.535-0.535h-2.008V8.14
c0-0.296-0.24-0.535-0.535-0.535s-0.535,0.239-0.535,0.535v2.007H8.41c-0.295,0-0.535,0.24-0.535,0.535
C7.875,10.978,8.115,11.218,8.41,11.218z M315.793,192.667h-2.008v-2.009c0-0.295-0.24-0.533-0.535-0.533
c-0.297,0-0.535,0.238-0.535,0.533v2.009h-2.008c-0.295,0-0.535,0.238-0.535,0.533c0,0.298,0.24,0.536,0.535,0.536h2.008v2.007
c0,0.297,0.238,0.535,0.535,0.535c0.295,0,0.535-0.238,0.535-0.535v-2.007h2.008c0.295,0,0.533-0.238,0.533-0.536
C316.326,192.905,316.088,192.667,315.793,192.667z M310.434,11.218h2.008v2.006c0,0.296,0.24,0.536,0.537,0.536
c0.295,0,0.535-0.24,0.535-0.536v-2.006h2.008c0.295,0,0.535-0.24,0.535-0.536c0-0.295-0.24-0.535-0.535-0.535h-2.008V8.14
c0-0.296-0.24-0.535-0.535-0.535c-0.297,0-0.537,0.239-0.537,0.535v2.007h-2.008c-0.293,0-0.533,0.24-0.533,0.535
C309.9,10.978,310.141,11.218,310.434,11.218z"/>
<path fill="#FFFFFF" d="M296.949,15.753H28.16c-5.953,0-10.777,4.827-10.777,10.778v112.345c0,5.952,4.824,10.779,10.777,10.779
h268.789c5.953,0,10.777-4.827,10.777-10.779V26.531C307.727,20.58,302.902,15.753,296.949,15.753z M268.889,108.999
c0,5.951-4.826,10.777-10.779,10.777H67.814c-5.953,0-10.777-4.826-10.777-10.777v-35.48c0-5.953,4.824-10.777,10.777-10.777
h190.295c5.953,0,10.779,4.824,10.779,10.777V108.999z"/>

<path class="reel-left" fill="#FFFFFF" d="M93.975,56.947c-18.949,0-34.312,15.362-34.312,34.312c0,18.952,15.363,34.313,34.312,34.313
c18.951,0,34.312-15.361,34.312-34.313C128.287,72.31,112.926,56.947,93.975,56.947z M114.633,94.517
c-0.533,3.418-1.893,6.558-3.871,9.214l-4.199-4.198l-4.223,4.225l4.211,4.214c-2.656,2-5.801,3.38-9.227,3.931v-6.066H91.35v6.167
c-3.525-0.44-6.775-1.759-9.529-3.729l4.516-4.516l-4.227-4.225l-4.605,4.607c-2.146-2.74-3.627-6.027-4.188-9.623h6.715v-5.973
h-6.789c0.477-3.672,1.898-7.043,4.023-9.86l4.844,4.845l4.225-4.226l-4.832-4.833c2.82-2.098,6.188-3.495,9.848-3.955v6.711h5.975
v-6.609c3.557,0.573,6.812,2.045,9.531,4.174l-4.516,4.513l4.225,4.226l4.424-4.423c1.953,2.729,3.266,5.947,3.717,9.438h-6.064
v5.973H114.633z">
<animateTransform attributeName="transform" attributeType="XML" type="rotate"
from="0, 93.97, 92.07" to="-360, 93.97, 92.07"
begin="0s" dur="1.5s"
repeatCount="indefinite"/>
</path>

<path class="reel-left" fill="#FFFFFF" d="M230.863,56.947c-18.951,0-34.312,15.362-34.313,34.312c0,18.952,15.362,34.313,34.313,34.313
c18.949,0,34.312-15.361,34.312-34.313C265.176,72.31,249.812,56.947,230.863,56.947z M251.521,94.517
c-0.535,3.418-1.895,6.558-3.869,9.214l-4.199-4.198l-4.227,4.225l4.211,4.214c-2.654,2-5.801,3.38-9.227,3.931v-6.066h-5.973
v6.167c-3.527-0.44-6.775-1.759-9.529-3.729l4.514-4.516l-4.225-4.225l-4.606,4.607c-2.147-2.74-3.626-6.027-4.188-9.623h6.717
v-5.973h-6.789c0.476-3.672,1.898-7.043,4.021-9.86l4.846,4.845l4.225-4.226l-4.832-4.833c2.818-2.098,6.188-3.495,9.848-3.955
v6.711h5.973v-6.609c3.561,0.573,6.812,2.045,9.533,4.174l-4.516,4.513l4.225,4.226l4.424-4.423
c1.953,2.729,3.266,5.947,3.719,9.438h-6.064v5.973H251.521z">
<animateTransform attributeName="transform" attributeType="XML" type="rotate"
from="0, 231.064, 92.07" to="-360, 231.064, 92.07"
begin="0s" dur="1.5s"
repeatCount="indefinite"/>
</path>

<rect x="23.797" y="126.184" fill="#EC008C" width="277.432" height="15.888">
</g>
</svg>

.explanation
  %p
    I was really intrigued by this 
    %a(href="http://codepen.io/noahblon/pen/lxukH") pen
    and I have been wanting to learn about styling and animating SVGs. So I'm tinkering with this and the goals are to change the appearance of the cassette with CSS and to make the reels spin.
  %p
    %strike
      The first issue that I've run into is rotating pieces of the SVG is tricky as the axis is different. Rotating the whole SVG in place is easy. If you hover on the cassette, you'll see what happens with the reels with a basic 360 rotation.
  %p
    Learned about animatetransform and struggled hacking around to get the right coordinates. Turns out I would have never gotten it right. Ended up recreating the SVG in Illustrator and using the navigator to get the coordinates. Fractions of a pixel, FTW! I tweaked the timing to speed it up and looks like It's still not the exact midpoint.

  %img{ :src => "/assets/images/tinkerings/cassette-screenshot.png", :alt => "cassette SVG in Illustrator", :width => "344" }

