<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dan Denney{% endblock %} Front-End Dev at Envy Labs</title>
    <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
    <script type="text/javascript" src="//use.typekit.net/cxh3ytl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{ model.css }}
  </head>

  <body>

    <main class="content--tinkerings">
      {% block content %}{% endblock %}
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    {{ "tinkerings.js" | asset_url | script_tag }}
    {{ model.js }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3589831-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
