---
layout: tinkering
date: February 5, 2015
title: Roulettingale
css: tinkerings/roulettingale
---

%article.row
	.cell.cell--s.well
		%h1
			Roulettingale

		%p.tss
			February 5, 2015

		%h2 The Idea
		Track and visualize series of attempts to use the martingale betting system in Roulette.

		%p
			I recently learned of the Martingale betting system and how it's one of the popular betting systems used in roulette. I've always been a fan of number systems, especially ones that involve wagering: stocks and gambling.

		%p
			There are some decent roulette apps for iOS and the Mac. I'm going to run a series of tests using the system, record data, and visualize it.

		%h2 Manual Data Collection… yuk
		%p
			This is all manual and I'll use a couple of different apps to get different results. I've been using an app on iOS called
			%strong
				Roulette - Casino Style
			and I've already noticed a couple of patterns where it repeats numbers after a win.

		%p
			I do have some concerns about using these apps because they offer in-app purchases. While the odds alone would lead to plenty of purchases, it certainly seems like it would be easy to program some occasional lose streaks to help out.

		%p
			In my first day of testing, my longest losings streaks came from only betting black and using the system. I'll test more to see if that is normal.

		%h2 What to Observe

		%h4
			I want to know a few things:

		%ul
			%li
				How does it work over a long series of spins?
			%li
				How does it perform over short sessions with a goal of 10 wins?
			%li
				What bankroll would be necessary to complete the worst session?
			%li
				What bankroll would be necessary to complete the average session?
			%li
				What casino stakes allow for the worst session to be completed?
			%li
				What casino stakes allow for the average session to be completed?













