---
layout: tinkering
date: February 5, 2015
title: Roulettingale
css: tinkerings/roulettingale
---

%section.row
	.cell.cell--s.well
		%h1
			Roulettingale

		%p.tss
			February 5, 2015

		%h2 The Idea
		Track and visualize series of attempts to use the martingale betting system in Roulette.

		%p
			I recently learned of the Martingale betting system and how it's one of the popular betting systems used in roulette. I've always been a fan of number systems, especially ones that involve wagering: stocks and gambling.

		%p
			There are some decent roulette apps for iOS and the Mac. I'm going to run a series of tests using the system, record data, and visualize it.

		%h2 Manual Data Collection… yuk
		%p
			This is all manual and I'll use a couple of different apps to get different results. I've been using an app on iOS called
			%strong
				Roulette - Casino Style
			and I've already noticed a couple of patterns where it repeats numbers after a win.

		%p
			I do have some concerns about using these apps because they offer in-app purchases. While the odds alone would lead to plenty of purchases, it certainly seems like it would be easy to program some occasional lose streaks to help out.

		%p
			In my first day of testing, my longest losings streaks came from only betting black and using the system. I'll test more to see if that is normal.

		%h2 What to Observe

		%h4
			I want to know a few things:

		%ul
			%li
				How does it work over a long series of spins?
			%li
				How does it perform over short sessions with a goal of 10 wins?
			%li
				What bankroll would be necessary to complete the worst session?
			%li
				What bankroll would be necessary to complete the average session?
			%li
				What casino stakes allow for the worst session to be completed?
			%li
				What casino stakes allow for the average session to be completed?

		%h2 The First Sessions

		%p
			I believe that this is what I want to know and display about individual sessions. This part tells the important part of the data:

		%p
			Can you successfully win 10 times your minimum wager within the stakes?

		%p.mbf
			If so, how much of a bankroll was necessary to achieve it and how many rolls did it take?

		.mbl.tss
			(It seems you can get in 35 - 112 spins per hour depending on the number of players. <a href="http://wizardofodds.com/ask-the-wizard/136/" class="tss">Reference</a> )

		%article.tsm

			%h3 Session 001

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 17

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 002

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 20

				%dt Max Bet
				%dd 8x

				%dt Min Bankroll
				%dd 15x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 003

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 17

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 004

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 31

				%dt Max Bet
				%dd 128x

				%dt Min Bankroll
				%dd 255x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, No

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 005

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 21

				%dt Max Bet
				%dd 16x

				%dt Min Bankroll
				%dd 31x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 006

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 22

				%dt Max Bet
				%dd 16x

				%dt Min Bankroll
				%dd 31x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 007

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 19

				%dt Max Bet
				%dd 4x

				%dt Min Bankroll
				%dd 7x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%article.tsm

			%h3 Session 008

			%dl

				%dt Winnings
				%dd 10x

				%dt Spins
				%dd 21

				%dt Max Bet
				%dd 32x

				%dt Min Bankroll
				%dd 63x

			%dl

				%dt Mirage ($25 - $20,000) (800, 400, 200)
				%dd Yes, Yes, Yes

				%dt Mirage ($100 - $20,000) (-, -, 200)
				%dd -, -, Yes

				%dt MGM ($25 - $10,000) (400, 200, 100)
				%dd Yes, Yes, Yes

				%dt Beau Rivage ($10 - $15,000) (600, 300, 150)
				%dd Yes, Yes, Yes

		%h2 Session Spins and Bets

		%p
			I'm recording each spin and bet as well. While these aren't useful in answering the questions, they'll make for some interesting visualizations. I'll also need to learn how to compile and compare data sets, which is one of the goals of this little project.

		%h2 Colors

		%p
			I searched for
			%strong roulette
			and
			%strong casino
			on
			=link_to 'colourlovers.com', 'http://colourlovers.com'
			and found a few options that I dig.

			%ul
				%li
					=image_tag 'tinkerings/roulettingale/palette-casino-royale.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-roulette.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-russian-roulette.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-russian-roulette-2.png', width: '400'
				%li
					=image_tag 'tinkerings/roulettingale/palette-vintage-casino.png', width: '400'

		%h2 Graphs

		%p
			This is a loose example, but I'm thinking of plotting the rolls like this with the 00 through 36 on the Y axis and the X axis showing spin count and bet amount.

		=image_tag 'tinkerings/roulettingale/example-plot-graph.png'

		%p
			Chartist gets closer to showing it, albeit with the usual range problem which I'll need to solve with d3 instead.

		=image_tag 'tinkerings/roulettingale/example-chartist.jpg'














