---
layout: tinkering
date: February 22, 2015
title: Roulettystem
css: tinkerings/roulettystem
js: tinkerings/roulettingale/roulettystem
---


%section.row

	.cell.well

		.card

			%h3.mtm.tac Spins

			%table.spins.js-spins.bordered-h.mhc.tac
				%thead
					%th Bet
					%th Number
					%th Result

				- data.roulettystem.each do |s|
					%tr
						%td=s.bet
						%td=s.number
						-if s.result == "w"
							%td.js-result.js-w
								.positive--a
						-else
							%td.js-result.js-l
								.negative--a
			%ul.wins
				- data.roulettystem.each do |w|
					-if w.result == "w"
						%li w
