// *************************************
//
//   Header
//   -> This is the site header
//
// *************************************

main
  overflow-x: hidden
  overflow-y: scroll
  position: relative

.header--site
  @extend %group
  +transition(all 0.35s linear)
  +translate(260px, 0)
  background: #fff
  border: $base-border
  border-bottom: $base-border
  border-right: none
  bottom: 0
  color: #272826
  width: 260px
  top: 0
  right: 0
  position: fixed
  z-index: 1
  &.is--expanded
    +translate(0, 0)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.header--site-trigger
  background: #fff
  border: $base-border
  box-shadow: none
  color: $base-color--light
  display: block
  font-size: 40px
  line-height: 0.75
  padding: 0 12px 10px
  position: absolute
  right: 100%
  top: -1px
  
.header--site-content
  margin: 0 auto
  width: 210px
  text-align: center
  h5
    margin: 0
    + p
      margin-top: 0
  p
    font-size: rem(14px)

.header--site-nav
  a
    +transition(color 0.25s linear)
    background: $base-color--highlight
    border-bottom: $base-border
    display: block
    padding: 0.5em
    text-align: center
    &:first-child
      border-top: $base-border
    &:hover
      &:before,
      &:after
        display: none
    &.not--hovered
      color: rgba($base-link-color, 0.25)

