// *************************************
//
//   Pseudo Nav
//   -> This is a list of items as navigation
//
// *************************************

.pseudoNav
  border-top: $base-border
  h2
    color: $base-link-color
    line-height: 1.2
  a
    +transition(opacity 0.35s linear)
    display: block
    padding: 1em
    &:hover
      &:before,
      &:after
        display: none
  h2,
  p
    margin: 0  
  .date
    color: $base-color--light
  &.not--hovered
    a
      opacity: 0.25

// -------------------------------------
//   Modifiers
// -------------------------------------

.btn--a
  @extend %btn

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

.home
  .pseudoNav
    a
      padding: 0.5em

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.pseudoNav--more
  background: $base-color--highlight
  border: $base-border
  text-align: center
  a
    display: block
    padding: 1em
    &:before,
    &:after
      display: none

