!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    /Favicon
    <link href='favicon.ico' rel='shortcut icon' type='image/x-icon'>

    / Typekit
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'TWIL'

  %body{ class: page_classes }

    = yield

    = partial 'partials/analytics'
