---
layout: post-custom
title: A New Adventure
tags: General
date: September 1, 2017
---

:sass
  #particles-js
    position: fixed
    width: 100%
    height: calc(100% + 91px)
    background-color: #2c9cc0
    background-image: url("")
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    top: -91px
  section
    position: relative
    z-index: 1
  article
    background: #ffffff
    padding: 20px
  #disqus_thread
    background: #ffffff
    padding: 20px
  header
    position: relative
    z-index: 1
  
#particles-js

%section.row.nudge.post-wrap.ptl
  .cell
    %article

      .cell.cell--s

        %h1.mtm A New Adventure

        %p
          Backstory: After leaving my job at the end of June, I started with a little vacation time, in California and upstate New York for family weddings. Since then, I've had the benefit of working with the awesome folks at <a href='http://www.bridgeandbloom.com/'>Bridge + Bloom</a> on a project. If you're a freelance developer, I can't recommend them enough. They do fantastic design work, they're fun people, and they're highly organized.

        %h2 And now...
        %p
          I've joined the team at <a href='https://www.datacamp.com/'>DataCamp</a>! As you're reading this, I'm in Belgium starting two weeks of working with the engineering team in their Leuven office. I'm pretty excited, for lots of reasons. 

        %p
          As a "Lead Front End Web Developer," I get to stay focused on the part of the web that I love the most while working in very familiar systems. Because they're also in the online education space, there are a lot of crossovers, and the focus on data science is exciting. A handful of my side projects in the past couple of years have been around data tracking and visualization, so it's a field that I'm intrigued by. I'm eager to learn more about how people are using DataCamp in their work. 

        %p
          They align perfectly with the things that are important to me: working with good people towards a goal, building things for the web that benefit people, and sharing knowledge. Throughout the interview process, everyone was so kind and communicated so well. I'm looking forward to getting to know everyone.

        %p
          Did I mention they have an office in Belgium? If you didn't know, Belgium is the home of humanity's greatest invention: Delerium Tremens. I'll certainly be celebrating this first day with a glass of that. After onboarding, I'll still be remote, but I am looking forward to many opportunities to spend time with the team here, in NYC, and on our two retreats per year.

        %h2 So, everything is Rainbows and Sunshine?
        %p
          No way! Working with a new group of people on new projects is always intimidating. I have at least my fair share of Imposter Syndrome and who knows, maybe this is when I get found out. 

        %p
          What I do know is that this team wants me to succeed and they're going to get my best. I also know that I have this wonderful community that shares information about their work, helping to lift me up. Finally, I have plenty of friends that I can reach out to who will share their experiences with challenges that I find. If you're reading this from my tweet, you're one of them. Thank you to all of you who reached out, too!

        %p
          I'd like to give an extra thank you to Christopher Schmitt for having me <a href='https://goodstuff.fm/nbsp/127'>on Non-Breaking Space</a> to chat. That convo helped reinforce how much I enjoyed the visual portions of front-end development.

        %h2 What I've Learned Recently
        %p
          In this downtime, I've learned a lot. I spent some time learning Preact, dove further into React, built two things with Craft CMS, and soft-launched a side project. Most importantly, though, I learned that if you continue to work hard, be kind, and share your knowledge, the right people notice. Results may vary, but I can't recommend that workflow enough.

= javascript_include_tag  '/assets/javascripts/posts/a-new-adventure/particles.min.js'

:javascript
  particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 0.5,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });