---
layout: post
title: An API Event?
tags: Front-End Dev
date: January 23, 2014
---

.container

  %h2 I want to learn more about APIs
  
  %p
    I've heard that if you play The Greatest Love of All backwards, the lyrics are "we believe that data is the future, build APIs and let the people play".

  %p
    If you do any development, you're already working with them in some form. I want to learn how to dive in and build things with designed APIs from various third-party services. I'd like to hear a couple "intro to" talks and then get my hands on the keyboard working on something. When I have a question, I want to be able to talk with someone that helped build the API or someone else that has worked with it.

  %p
    I want it so much that I'm going to run an event to make it happen.

  %h2 Sound cool?
  %p
    If this sounds like something you'd be even remotely interested in, would you mind answering a couple questions?

  <!-- Change the width and height values to suit you best -->
  <div class="typeform-widget" data-url="https://dandenney.typeform.com/to/Kj3vxs" data-text="APIapalooza" style="width:100%;height:500px;"></div>
  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>









  

