---
layout: post-custom
title: Front-End Design Conference Finales
tags: Conferences
date: June 9, 2014
---

=image_tag 'posts/conferences/front-end-conf-finales/dan-cherrie-stage.svg', width: '100%'

.row
  .cell.cell--s.well
    %p
      Running the Front-End Design Conference since 2009 has been amazing. We have met so many wonderful people, formed amazing friendships, and had so much fun along the way. As the saying goes, though, "all good things must come to an end". These two events in
      %a{ :href => "http://frontenddesignconference.com/st-pete"} St. Pete
      and
      %a{ :href => "http://frontenddesignconference.com/portland"} Portland
      will be the last of our Front-End Design Conferences.

    %h2 "Why?"
    %p A lot has changed over the past five years. When we first started the conference, we were both working in-office jobs. Traveling wasn't an easy thing to do for us and there were almost no events in Florida. In fact, there weren't too many events to choose from in the U.S.
    %p Since traveling is now Cherrie's job, it has become a regular part of our lives. We love it, but it is hard to keep up with anything outside of our jobs.
    %p
      The conference scene has changed greatly since 2009. There are so many conferences to choose from, with many of them expanding to Florida. Coming up this year there is
      <a href="http://convergefl.com">ConvergeFL</a>, <a href="http://aneventapart.com/event/orlando-2014">An Event Apart</a>, <a href="https://bdconf.com/events/orlando-2014">Breaking Development</a>, and <a href="http://twitter.com/norcross">Norcross</a> is bringing a <a href="http://2014.tampa.wordcamp.org">WordCamp</a> to Tampa. We have made a lot of conference organizer friends and I know some of them won't bring events down in this area in order to not "compete". If we step aside, it'll open the doors to new events in the area.

    %h2 Passing the Torch
    %p
      There's also the opportunity for anyone reading this to decide to run one. Dream up an event you'd like, do some research, and make it happen! It wasn't local, but
      %a{ :href => "https://twitter.com/erikstmartin"} Erik St. Martin
      wanted to run a
      %a{ :href => "http://gophercon.com"} Go conference
      and they had to stop selling tickets at like 700 people.
    %p
      If you'd like something already rolling,
      %a{ :href => "http://webafternoon.com/host"} A Web Afternoon
      has a sort of franchising option where they share their system and help with planning and execution.

    %h2 We're not done running events...
    %p We will still run some events, just with a smaller scale and focus. Working with <a href="http://codeschool.com">Code School</a> the past couple of years has emphasized my love for "learning by doing", so I'm wanting to be involved in some smaller things with hands-on learning. Cherrie loves running events and has seen people who could benefit from them in developing countries.

    %h2 Come celebrate with us!
    %p
      In talking about this, the hardest part of the decision is knowing that we won't have this annual couple of days where we get to see so many people that we love. We originally started this out of my love for the community, but it immediately became a family event. My and Cherrie's family run it every year and it has become a part of their lives. Cherrie is especially sad because she has met so many amazing people and the community has embraced her even though she's not "technically" a designer/developer. So, make sure you come out and party with us for these last 2 confs! In fact, we'll start selling tickets to
      %a{ :href => "http://frontenddesignconference.com/portland"} Portland
      right now, even though all of the details aren't ironed out yet.

    %p
      =image_tag 'posts/conferences/front-end-conf-finales/minion-kiss.gif', class: 'db mhc'
