---
layout: post
title: Front-End Conf Update
tags: Conferences
date: January 19, 2014
---

%style
  body { background: url('/assets/images/posts/conferences/front-end-conf-update/cloud.svg') center top repeat-x #daf0f6; }

%img(src="/assets/images/posts/conferences/front-end-conf-update/plane.svg" alt="plane")

%p
  We have been holding back on releasing news for this year's events because of some big changes in our non-conf lives. Cherrie has a career change in the works which is a fantastic thing for us, but is really scary for me as she really runs the events. My focus has always been on picking the speakers and updating the site.

%p
  She will be leaving town this Tuesday (Jan 21) to begin 7 weeks of training to become a flight attendant. Travel, meeting new people, and spontaneity are things that she (and I) really enjoy, so ultimately this will be wonderful.

%h2 "Who will choose the snacks?"
%p
  While her schedule will be hectic and there's no guarantee that she can actually be in town when the events are running, she will still be handling all of the things leading up to the event. (Yes, there will still be chocolate covered bacon.) 

%h2 
  %strike
    Cries
  &nbsp;Calls for Help
%p
  We will likely follow the lead of other events and assemble a small team of volunteers to help keep things running smooth at both events. Each year, many of you wonderful people reading this offer to help in any way that you can. This year, we'll take some of you up on it. 

%h2 What We Know Right Now
%p
  While the contract is still pending, Cherrie has been negotiating with the Palladium for a while. We're waiting on official paperwork that will keep both days in the Palladium this year, running July 11-12. It'll cost more than the past, but I'm working on making the event feel less like a split day one/two and more like a two-day event.

%h3 Another Workshop
%p
  We were originally thinking of downsizing back to just the two days, but the awesome folks at Sparkbox are doing their workshop tour this year. We couldn't pass up on the chance to have them bring their knowledge-dropping roadshow here to teach Front-End Developer Tooling.

%h3 Speakers (kinda)
%p
  I had spoken to the people that I wanted to have speak this year and now it's just a matter of confirming everything based on the dates for St. Pete and nailing down the dates for Portland.

%h3 New Process for Day Two
%p
  Day two is very important to me and I'm working towards integrating it into the whole event better than I have in the past. Attendance of day two has grown every year and we had really high retention last year, with over 200 people choosing to stay. 

%p
  Attendees will always be able to submit their presentations but we can't do first-come, first-served anymore. This year, we will feature a keynote speaker who will also help me choose the rest of the talks that will make it into day two. More on that later, as well as an upcoming post on how I choose speakers.

