---
layout: post
title: The Email Design Conference 2015
tags: Conferences
date: August 29, 2015
---

.video-wrapper
  <iframe src="https://player.vimeo.com/video/137720165?color=b51f24&byline=0" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

%p.mtm
  I'm headed home from an amazing time at this year's
  <a href="https://litmus.com/conference/boston">Email Design Conference in Boston</a>, organized by the wonderful people at <a href="https://litmus.com">Litmus</a>.

%p
  Having heard so many great things about the event, I had high hopes that were blown away. The Litmus team puts so much love and attention into the organization and details, making it feel both professional and personal all at once. I'm not sure of the final count but I'd guess there was between 400-500 people overall, but it felt completely welcoming and friendly. There was a lot going on with 2 tracks and some additional events, but you always knew where and when everything was because they made sure you could get the schedule in 4-5 ways at any time.

%h2 Presentations

%p
  There was a lot of thought and planning put into the chosen presentations and their order/pairing in the tracks. There was a wealth of knowledge shared and a great balance between what should be divided into breakout sessions and what everyone should be together for. I met a lot of people who's mind were blown with all of the information that they learned.

%h2 Emphasis on Community
%p
  While most conferences are filled with information, this one is special in that they found ways to ensure that we were talking to each other. There were plenty of breaks allowing time for meeting people, but the addition of the group discussions during the workshops and the “email speed dating” sessions made it very comfortable for people to talk with speakers. I met a ton of nice people with interesting backgrounds and issues in building emails. The talks were awesome, but this was my favorite part.

%h2 Thank You to Litmus
%p
  I want to say a giant THANK YOU to Litmus not only for putting this event together, but for letting me be a part of it. I was honored to get to share some of my email experience and the speed dating sessions let me really talk through some things with people for when they get back to work. I hope everyone takes me up on my offer to ping me with their templates so we can chat about setting up snippets.

%h2 Thank you to everyone
%p
  THANK YOU to all of the attendees and speakers for making this a special event. I hope to keep in touch and see everyone next year!