---
layout: post
title: Turning the Page
tags: General
date: July 3, 2017
---

:sass
	.shrug
		font-size: 300%
		text-align: center
	.lyrics
		background: #f9f9f9
		padding: 1.5rem

%article

	%p.mbf.tac
		%img{src: '/assets/images/posts/general/turning-the-page/envy-epcot.jpg', width: '400'}

	%p
		A short while ago, I was <a href='https://twitter.com/i/web/status/859761496464773120'>joking with Fabio Carneiro</a> about writing a post when you leave your position with a company, and now I find myself doing it. The past five years have been the best of my life, and a lot of that is due to the people I've worked with at Envy Labs, Code School, and Pluralsight. I can't list everyone because this would just be a long list of the people that I've directly worked with.

	%p
		Throughout those years, I have learned so much about building the web, growing a digital product, adjusting the size and scope of teams, and the challenges involved with shifting markets. The most important part is that I had so much fun doing it. I've made friendships that I will cherish forever and had countless incredible moments with awesome people. Thank you to each and every one of you for the laughs, the camaraderie, and for teaching me.

	%p
		There's no way that I could write this without a specific "Thank You" to <a href='https://twitter.com/greggpollack'>Gregg Pollack</a> for creating things that have had a hugely positive impact on all the people that I've worked with and millions around the world. Gregg is one of the kindest and most generous people that I have ever met, and my whole family has benefitted from the companies that he created.

	%p
		%img{src: '/assets/images/posts/general/turning-the-page/comfort-wants-you-dead.jpg'}

	%h2 "Comfort Wants You Dead"

	%p
		I bought this <a href='https://dribbble.com/shots/1746603-Comfort-Wants-You-Dead'>t-shirt from Nathan Yoder</a> as soon as I saw it and it's the best explanation that I can give for how I could leave this role with all these people who I care about. I've been comfortable. I have a good salary, generous benefits, an insanely flexible schedule, and I work from home.

	%p
		I was comfortable in my position when an unfortunate scenario led to a fantastic person (who hired me) losing his job. I was comfortable when our founder left, our team structures changed, and for the past few months after two friends (and two of the three front-end people I worked with directly for years) left.

	%p
		Recently, I realized that I have been viewing things through the lens of my comfort level and forgetting a bit of what's important to me. There's this fantastic song by Passenger, "<a href='https://open.spotify.com/track/1Sb0F7I9bGa4VfPbgm0BoL'>All The Little Lights</a>", with this hook:

	%p.lyrics
		We're born with millions
		%br
		Of little lights shining in the dark
		%br
		And they show us the way
		%br
		One lights up, every time you feel love in your heart
		%br
		One dies when it moves away

	%p
		I hadn't been recognizing (or maybe prioritizing) that a lot of my little lights had burned out in the last couple of years. I was comfortable, and it was slowly killing me. So, I decided to change it.

	%h2 "What's Next?"

	%p
		.shrug ¯\_(ツ)_/¯
		I truly don't know. I talked with my manager (another person that I'll miss) and gave notice without a plan.

	%p
		I know what makes me come alive: working with good people towards a goal, building things for the web that benefit people, and sharing knowledge.

	%p
		I know that the industry has shifted a lot in the time that I've been working on Code School and that I need to deepen my JS knowledge to stay competitive.

	%p
		I know that I'm going to spend a little time learning, sharing, and shipping a few small things that I've been tinkering on.

	%p
		I hope that will lead me to what's next...
