---
layout: post-custom
title: Upcoming Events in '13
tags: Conferences
date: August 17, 2013
css: posts/upcoming-events-13
---

.container.intro

  %h1=current_page.data.title
 
  %img{:src => "http://f.cl.ly/items/3o3c3b0w1e1U1u322b3F/us-map.svg"}

  %p
    %a(href="https://twitter.com/cherriedenney")Cherrie 
    and I are about to embark on 6 weeks of craziness. We will be hitting up 6 other states, attending 3 weddings, and I will be attending 5 conferences. There are 2 that I am really sad to miss so I'm going to list them first and then share all the ones that I'll be attending. I hope to meet lots of new folks and especially lots of
    %a(href="http://codeschool.com") Code School
    customers.

  %h2 I'm very sad to miss...

.convergefl-conf
  
  .container 

    %h3
      %a(href="http://convergefl.com") ConvergeFL
      %br
      September 11-13 In Jacksonville, FL
    %p
      ConvergeFL is one of the breakout events from the badass ConvergeSE team. It's their second year and this year 
      %a(href="https://twitter.com/carlsmith") Carl Smith 
      is teaming up with them to help out. It is going to rock and I'm very sad to miss it, but a wedding came up in New York that weekend.

    %p 
      %a.convergefl-conf-btn(href="https://account.unmatchedstyle.com/register/convergefl-2013/") Register for ConvergeFL

.circles-conf

  .container
  
    %h3
      %a(href="http://circlesconference.com") Circles Conference
      %br
      September 19-20 In Grapevine, TX
    
    %p
      Circles Conf is put on by 
      %a(href="https://twitter.com/burciaga")Ismael Burciaga 
      and is a highly inspirational event. Cherrie and I really enjoyed it last year and planned to go, but a wedding came up in Pennyslvania the same weekend. 

    %p 
      %a.circles-conf-btn(href="https://circlesco.com/conference/registration/index.php") Register for Circles Conf

%h2.container I'm completely honored to speaking at...

.webafternoon-conf

  .container

    %h3
      %a(href="http://webafternoon.com") Web Afternoon Atlanta
      %br
        October 4th in Atlanta, GA
    %p
      Web Afternoon is a multi-city conference series organized by <a href="https://twitter.com/jc">J Cornelius</a>. They pack an amazing amount of speakers into a single afternoon of celebrating the web. I'm honored to be part of this
      %a(href="http://webafternoon.com/#tickets") stellar lineup of speakers
      that will be sharing in Atlanta.

    %p
      %a.webafternoon-conf-btn(href="http://webafternoon.com/#tickets")
        Register for Web Afternoon

%h2.container I'm very happy to be attending...

.aea-conf
  .container

    %h3
      %a(href="http://aneventapart.com/event/chicago-2013") An Event Apart (Chicago)
      %br
      August 26th-28th in Chicago, IL

    %p
      Big thank you to 
      %a(href="http://envylabs.com") Envy Labs
      for sending the whole design team to AEA in Chicago. It's going to be informative, inspirational, and one hell of a good time.

    %p
      Conference seating is sold out.
    %p
      %a.aea-conf-btn(href="http://aneventapart.com/event/chicago-2013")
        Register for the workshops

.blend-conf
  .container

    %h3
      %a(href="http://www.blendconf.com") Blend Conf
      %br
      September 5th-7th in Charlotte, NC

    %p
      Blend Conference is a new event organized by Mr. <a href="http://twitter.com/bermonpainter">Bermon Painter</a>. It's a generalist event with a very diverse speaker lineup and a "no devices" policy.

    %p
      %a.blend-conf-btn(href="https://tito.io/blendconf/blendconf-2013")
        Register for Blend Conf

.edge-conf
  .container

    %h3
      %a(href="") Edge Conference
      %br
      September 23 in New York, NY

    %p
      Edge is a new kind of non-profit one-day conference on advanced web technologies for developers and browser vendors. It has a selection process so I was really glad to get in.

    %p
      %a.edge-conf-btn(href="https://docs.google.com/a/envylabs.com/spreadsheet/viewform?formkey=dEJtUjA3UDR3MnQtbWdwdWM3Vm85Rnc6MA#gid=0") Register Your Interest

.brooklynBeta-conf
  .container

    %h3
      %a(href="https://brooklynbeta.org/2013") Brooklyn Beta
      %br
      October 9th-11th in Brooklyn, NY

    %p
      It was pretty exciting that Brooklyn Beta opened up to a lot more folks this year. I have wanted to attend the last two but didn't make it in time or win the lottery. 

    %p
      This one is sold out!

.container
  %h2 But wait, there's more...

  %p
    There is a chance that I'll be heading out to 1 or 2 other events, but I won't share until I have a ticket. Also, I'm working on one to run in Orlando in November. I'll try to write wrap-up posts for each event, though it'll be a 'lil cray.

  %p
    If all goes according to plan, I might be setting the record for number of events attended in 4 months by a non-evangelist. BOOM!

  %p
    On top of the tech events, we'll also be attending family and friend events. Two of Cherrie's best friends are getting married in Park City, Utah and Pennsylvania and one of my cousins is getting married in Buffalo, NY.

  %p
    %small
      In December, I'll likely be begging for change on the street corners.

