<div class="posts-paging">

  {% if collection == posts %}
		
		<a href="/posts">Back to All Blog Posts</a>

	{% else collection == blips %}

		<a href="/blips">Back to All Blips</a>

	{% endif %}

</div>