%footer
	
	%p.dib
		Dan Denney
	
	%nav.dib
		= link_to 'Posts', '/posts', class: 'mls'
		= link_to 'Blips', '/blips', class: 'mls'
		= link_to 'Tinkerings', '/tinkerings', class: 'mls'
		= link_to 'Home', '/', class: 'mls'