<header class="header--site">
	<p>Dan Denney <span class="divider">|</span> Front-End Dev at <a href="http://envylabs.com">Envy Labs</a></p>
	<!-- TODO: Need to create a full nav, including a sidebar with info -->
  <nav>
    <a href="/"><span>Home</span></a>
  </nav>
</header>