---
layout: article
section: posts
title: A Shift in Focus
category: General
date: March 3, 2014
published: true
---

%p.center
  %img{ :alt => "Code School Brackets", :src => "/assets/images/brackets-code-school.png", :width => "250" }

%p
  During my 6 years in our awesome industry, I have had a number of roles. Starting off as a web designer, I designed and front-ended static websites (and eventually a few WP and ExpressionEngine ones). The next significant role change was part front-end/part community/part sales with a startup. Another startup where I was only a front-end dev introduced me to MVC environments. Following that was a short stint as a front-end dev for a client services shop and then my last (nearly) 2 years has been at Envy Labs as a front-end dev splitting time between client projects and our product, [Code School](http://codeschool.com).


%h2 All Product

%p
  While my day-to-day role as a front-end dev is not changing, as of today I am wholly focused on Code School. This is wonderful, as I enjoy product work significantly more than client work. Each type of work has its advantages and disadvantages, but the ability to iterate regularly is what draws me to products. While I prefer products generally, the education portion of Code School is what really fuels my fire. I love knowing that the work that we do enables people to increase their skills. Based on the things that they learn, people that use Code School can get jobs, earn promotions, and build their ideas.

%h2 There's So Much More To Do

%p
  Every day, I look over the mentions on Twitter and check out what people are learning and try to understand their backgrounds. When I'm out at events, I try to meet people and find out the same things. My primary contribution to the team is writing markup, but so many aspects of my life experience can come into play. We're working together to build the best possible online education platform there is and we're all encouraged to participate, to have an opinion, and to take the lead on tasks that will benefit the team and the product.

%h2 The Proverbial "Stay Tuned"

%p
  We are ready to rock, so there will lots of fun things coming in the next few months. In the meantime, I'll also be catching up on the courses that I've been slacking on since joining the team. I may even wander around the eastern seaboard having some learning get-togethers as well. We'll see...
