---
layout: article
title: Circles Conf 2012
category: Conferences
date: September 22, 2012
slug: /conferences/circles-conf-2012
css: <link href="/assets/css/posts/circles-conf-2012.min.css" rel="stylesheet" type="text/css" media="all">
published: true
---

.container

  %p 
    I am flying back home from Dallas, where Cherrie and I attended the first 
    %a(href="http://www.circlesconference.com")Circles Conference. 
    If you haven't heard of it before, it was an event to bring together creatives that do work for non-profit and/or religious organizations. Ismael Burciaga, aka Ish, had the idea for the event which is why we had to be there.

  %p If you haven't met Ish, he is awesome. We met him when he came to Front-End Conf in 2011 and he was everywhere throughout the weekend helping to make things fun. He's one of those people with the creative gift and is super friendly and energetic. As soon as he said he was doing an event, we knew we were going.

  %p To save you the long description and breakdown, the event was really good. If you are familiar with Ish's work, you know that he consistently delivers high quality designs. The event reflected that in all aspects: location, organization, supplies and speaker choices. If you are looking for an inspirational event, keep your eyes out for future Circles Confs. 

  %p As far as my personal takeaway, I go to events for three reasons in this order: to meet people who work in our industry, to learn from my peers and to learn how other events run. Circles had lots of time for meeting people. It was never too much time, meaning that it didn't feel delayed but more importantly it didn't feel rushed. I met some wonderful people, heard great stories of people's paths on the stage and took home some tips for running my events.

  %h2 Day One
  %p We took a cab into 'downtown' Grapevine, which has a lot of character. Main street has been preserved to still have that 'old west' feel. Brick buildings line a long straight street and there are items from American history all around: a log cabin, a funeral carriage, old oil pumps and gas pumps, etc. It made me feel like I should be rocking a hip holster with a six-shooter as I walked around.

  %h3 The Theater
  %p 
    The actual theater itself was gorgeous. Registration was set up in a very smart way to keep people moving through some thin hallways. Pick up your badge in one area, move off to the t-shirts and then turn the corner to the swag. The t-shirts packaging was the coolest way that I have seen shirts given away at an event. Each shirt was in a box which looked like a small pizza box and featured the handiwork of Kyle Steed.) Thank you to 
    %a(href="http://www.printedthreads.com") Printed Threads
    for sponsoring them.

  %h3 Presentations
  %p I'm going to share the general idea behind the presentation, a few details and my takeaways from them. Of course, everyone gets different things from presentations, so these are just my thoughts.

%ul.circles-talks
  %li
    .container      
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/kyle_steed.png" alt="Kyle Steed")
      %h4 Kyle Steed
      %p Kyle shared the story of his path from leaving a job in order to pursue his passion and do work that he believes in. To help others do the same, he shared thoughts with a common goal: Focus on simplicity, being present and what is most important to you. We got to learn what things are important to him, how he focuses on simplicity in his work and how he takes steps in his life to 'be more than what he does'.

      %p My take: Kyle has a very chill delivery style. You feel like you're sitting at the coffee shop chatting, which is pretty cool. For me, it was a good reminder to determine what is important to you and to focus on being present. That is something that I struggle with as I am pretty consistently consuming information from a device whenever I am anywhere. I'm not sure of a fix for that yet though, because learning and information are pretty high on the list of things that are important to me.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/evie_shaffer.png" alt="Evie Shaffer")
      %h4 Evie Shaffer
      %p Evie shared from a different background, but had a similar theme: Make a careful explanation of who you are and focus on that. To reenforce the point, she shared ways of finding the 'sweet spot' which for her was a happy mix of doing work that allowed for artful expression and had a purpose. She emphasized that doing the work is way more important than the tools that you have to do it and shared a list of things to be wary of and to embrace.
      %p
        %strong What Sucks Life: 
        prestige, pride, conforming and comparing yourself to others
      %p
        %strong What Gives Life:
        curiosity, mindfulness, limitations, simplicity, adversity and passion
      %p My take: Evie also had a very relaxed, conversational style. I especially enjoyed the talk of mindfulness as that is something that I have been studying for the last few months. One interesting thing that left me thinking was that she highly recommended reading over watching TV for learning. Assuming that we're not comparing watching Family Guy to reading about history, this left me really thinking about why. I'd be willing to bet that most people would recommend reading a book on Egyptian history over watching a documentary. Is it primarily a matter of being able to pause and think while consuming information or are there vast cognitive differences between being taught visually vs. reading? This will be important as we are introducing more visual and interactive ways of learning into our schools.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/joshua_blankenship.png" alt="Joshua Blankenship")
      %h4 Joshua Blankenship
      %p Joshua is a wizard and so are you. His talk was a wonderful reminder that what we do is magic. By magic, he means that we have great power to make things happen and that to anyone that has not done our type of work that is what it feels like. He shared the story of his work with Newspring Church and called for us to step back from what we do at times to realize how wonderful it is. 'When was the last time you were awestruck?' Take the time to realize how amazing things are because we are building the future but it doesn't feel like that today. It often feels like we are struggling in the present. Use your powers to build things as you want them to exist.

      %p My take: Joshua is a storyteller and his delivery was great. I'm guessing that he is a great inspiration to anyone trying to make their way as he is highly talented, but lightly reminds everyone that he comes from a humble town in a state that 'dukes it out with Mississippi for 49th/50th in education'. Specifically, he reminded me to keep working and researching as he shared a quote from Kevin Kelly: 'Out of these inefficient tinkerings will come the future.' On a lighter note, I loved the term 'black market graphics' which are things that are created outside of the design team for a brand.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/paul_sirmon.png" alt="Paul Sirmon")
      %h4 Paul Sirmon
      %p Paul shared tips and process for working on the branding of non-profits. He walked us through his process of 'showing them what they want and then showing them what they need'. The walkthrough of the creation of a mark for RU4 Children was very interesting as was his description of a popular problem in the flow for branding. He shared a triangle representing a good flow where brand thoughts begin at the organizational level, move to identity and then onto experiential. The common problem is that the beginning of projects is often inverted which leads to problems in the long run. Properly determining who you are, what you do and how you will do it will lead to the visual identity.

      %p My take: Paul had a very conversational style and it was interesting to hear about his process of creating a visual identity. I really resonated with the inverted approach to creating a brand element as I did this with the logo for the Front-End Design Conference. It was entirely based on the appearance of the original site concept and I've been shaking my head at it ever since because of it.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/noah_stokes.png" alt="Noah Stokes")
      %h4 Noah Stokes
      %p Noah's talk was all about the pForm, which is the formula for a good pop song. I'm kidding, but it definitely was a cool part. I took the least amount of notes during his talk because it was a great story. Aside from the pForm, it wasn't structured in a way to grab bullet points or quotes but it was totally engaging. It was wonderful to hear how each of his experiences were different, but taught him things that led to the path he is on right now. From working on devices at Apple to Palm (where Apple engineers go to die) to creating websites.

      %p My take: Noah is one of those people that you instantly look up to and not just because he's taller than you. He is a great storyteller and just comes off as this genuinely great dude. My favorite quote from his talk and one of the few notes that I took was 'HTML/CSS is the next best thing to designing.' This is exactly how I feel as I love creating beautiful designs but am not very skilled in the graphic design area. So, doing markup for them keeps me satisfied both with the challenge of writing the  code and with creating great designs.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/promise_tangeman.png" alt="Promise Tangeman")
      %h4 Promise Tangeman
      %p Promise kicked things off with something that I hadn't seen before, a highlight reel of her work. It was really cool and we got to see a bunch of samples of the type of work that she has done for people that weren't already fans. The main theme of her presentation was to evaluate  what you put into your mind and establish a diet. She shared some quotes that have inspired her along the way and the ways that she steps away from things to make sure to stay focused.
      %p My take: Promise shared a lot of great quotes and Cherrie and I are big fans of her work. It was cool to hear the story of how she had someone that she felt competitive with but reached out to have coffee with despite the possible uncomfort. It led to a long-running relationship where they now critique each other's work and help each other grow.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/dan_mall.png" alt="Dan Mall")
      %h4 Dan Mall
      %p 
        Dan shared with us some fantastic stories of getting through projects and different ways of communicating with clients. He emphasized the value of making clients part of the team and how the success of projects hinders on how well you do. He shared some fantastic projects with Star Wars and Lego and how that and the use of the adjacent possible helped them. The 'adjacent possible' which is (loosely) using a solution from an unrelated problem to solve something you are working on. Also, this: 
        %a(href="http://mostawesomestthingever.com")mostawesomestthingever.com
      %p My take: I was especially looking forward to Dan's talk as I saw him speak at the first conference I attended, FOWD NYC 2008. He is a wonderful storyteller and I have always dug his way of sharing information. It was hard to take notes because I was enjoying the story so much, but the client suggestions and adjacent possible parts were great. I loved the whole talk. 

.container
  %h3 After Party
  %p Day one wrapped up and we had some time to kill before the party, so Chris Wallace showed us this fantastic Italian place. We had a great dinner with him and some other awesome folks. The after party was at this wonderful wine place with a great patio. Big thank you to
  %a(href="http://mailchimp.com")Mailchimp 
  for sponsoring that and making it happen. We had a great time chatting with some great folks and got to hang with Lain to thank Mailchimp for the good times. He was a lot of fun. Overall, it was a great time with great conversations. 

  %h2 Day Two Presentations

%ul.circles-talks
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/kevin_richardson.png" alt="Kevin Richardson")
      %h4 Kevin Richardson
      %p Kevin started day two off with a bang, with great stories and taking chances and living life. Overall, the theme was "be bold with your life and be bold with your career". At one point in his life, he wondered why all of the other people get to do amazing things and he wasn't. So, he started making big changes and hasn't stopped. There were lots of hard times and scary decisions, but he is extremely happy.

      %p My take: This was one of the most inspirational talks. Kevin's energy, combined with the fact that he has taken risks despite normally wanting be comfortable was awesome. This one struck me personally because my life greatly changed and I have 'lived' so much more since meeting Cherrie. She has inspired drive in me and led me around the world experiencing wonderful things. It was cool that Kevin's inspiration also came from his love.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/ismael_burciaga.png" alt="Ismael Burciaga") 
      %h4 Ismael Burciaga aka Ish
      %p Ish shared how he has 'spilled blood' throughout his career in order to inspire everyone working on growing their skills. It was really brave to get up in front of the crowd and share screens of his early work. Seeing the progression of his skills and having him share that it came from a combination of doing lots of work, reading good books and reaching out to mentors was just so awesome. Plus, we got to see a bunch of great work.

      %p My take: I have a big fan of Ish's work for a while and it was so fantastic to see the progression of his work. It reminded me to just keep doing work, reading and getting feedback. It was also awesome that he reminded everyone to seek inspiration from outside of the web and bring good ideas from the world to it.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/blaine_hogan.png" alt="Blaine Hogan")
      %h4 Blaine Hogan
      %p Blaine wants to be sure you know that you are not a tool. His presentation was about becoming a better human, all the while admitting that it is even hard for him to step back from work. It was a great talk with a few really important steps: relax, breathe and embrace the obstacles. He also shared this very touching video from his work with his church.

      %p My take: The most important part for me was the reminder to step back and ask yourself 'what am I really making'? It's a cool thought that will help you from just acting like a tool.  
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/jonathan_moore.png" alt="Jonathan Moore")
      %h4 Jonathan Moore
      %p Jonathan's talk was about the internal thoughts of doing creative work. It was full of great nuggets like: happiness is 90% internal and success is based on your particular lense. One great tip was when you are overwhelmed on a project to just start creating. Then, make it awesome with each step. He emphasizes that when working with a client, your ultimate goal is to make them a hero in their organization.

      %p My take: I had a little nostalgic fanboy moment when he shared that he was part of the 2advanced team at one point. They were such a huge inspiration to me wanting to work on the web. He had another cool little thought about the type of work that we do: "Try something reckless. No one is going to die."
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/phil_coffman.png" alt="Phil Coffman")
      %h4 Phil Coffman
      %p Phil shared his story, which was very inspirational to anyone getting started in the industry. After a weird little stint being a general manager of a web shop as his first job in the industry, he began doing very 'regular' work for a company. He did everything for them from mugs to web work. He shared how he progressed through the job and did things on the side which ultimately led to where he is at now.

      %p My take: It was really great to hear his backstory and to see another person that got successful by just cranking through work and doing side projects. It was a great example of how hard work and knocking out things that come your way leads to great things. I'll be sure to point him out to anyone that I meet that is just getting started.
  %li
    .container
      .circles-speaker
        %img(src="/assets/images/posts/conferences/circles-conference-2012/cameron_moll.png" alt="Cameron Moll")
      %h4 Cameron Moll
      %p Cameron shared some information about how non-profits can make it easier for for-profit companies to help their cause. His main points were: make it transparent, make it attractive and make it matter. He shared his story about helping Charity: Water and his trip to Africa to see the results. Then he tugged at our heart strings with some really touching videos. They were wonderful.

      %p My take: It was a sobering reminder of how lucky I am. Seeing videos of the people in Africa walking miles for water and consuming from pools of water formed in the dirt was very powerful. Cameron did a great job of sharing ways to help as well. 

.container

  %h3 Hanging Out
  %p Cherrie and I were very lucky to tag along to dinner with an awesome mix of Ish, the speakers and the 2 folks that helped get us home each night: Mina Markham and Chris Wallace. On top of being this fantastic barbecue place, I got to chat in a group of people for hours with Dan Mall. This registers pretty high on the fanboy scoreboard. He reenforced all my high thoughts of him as he was generally interested in learning more about everyone and sharing. It was a great time.

  %h2 Final Thoughts
  %p Circles Conference 2012 was truly inspirational and I want to congratulate Ish on a job well done. You would have never known that it was his first event. Everything was so well done and looked amazing. I'd like to specifically thank Micah for giving Code School a shout out on the stage, which led to me getting to meet some great people. Extra special thank you to Mina Markham and Chris Wallace. To Mina for hanging with us and bringing us back to the hotel Thursday night. To Chris for hanging with us and driving us all around Dallas to get us back to the hotel on Friday night. Oh and some advice: if you travel to Dallas do not stay at a hotel at the airport. They charge the taxis $18 to leave the lot which makes your fare a minimum of $25 no matter where you go.

  %p 
    Keep an eye out for when Ish gets some rest and to see when he will run his next event. Then get your tickets before they sell out. If you're interested in following up and learning more about the speakers, check out the
    %a(href="http://circlesconference.com/#sectionSpeakers")Circles Conference site.

%link(href="/stylesheets/posts/conferences/circles-conference-2012.css" rel="stylesheet")