---
layout: article
section: posts
title: Diversity in Conference Lineups
category: Conferences
date: September 3, 2014
slug: /conferences/diversity
published: false
---

%p Diversity has been a hot topic in our industry for the past couple of years. I have learned a ton about it from some great posts and was recently prompted to share my thoughts by the rad <a href="https://twitter.com/elyseholladay">Elyse Holladay</a>. For the past 6 years, I've chosen the speakers for the Front-End Design Conference and Elyse rocked at our most recent <a href="http://frontenddesignconference.com/st-pete">St. Petersburg event</a>.

%p I do have some thoughts and since I have not been in a leadership position in any company in our industry, I can't speak to diversity in hiring or as a whole. I will only be focusing on conferences.

%h2 Diverse is as diverse does
%p In recent years, I have received many compliments about the diversity of the speaker lineups in the St. Pete events. Ironically, I don't think they have been diverse at all. I've never focused on creating a diverse lineup and I actually make a lot of effort to make the lineup similar.

%blockquote
  di·verse
  %br
  %em adjective
  %br
  showing a great deal of variety; very different.

%h2
  You say tomato, I say
  %em tomato

%p Diversity is a matter of perspective. I've been coy up to this point, but I know that what people are complimenting is the fact that I have been able to gather groups of people with variety in certain classifications: gender, race, sexual orientation, and nationality. I do understand the significant social impact of people identifying with these classifications and seeing leaders in them on stage. However, I don't make my decisions by them. Bill Nye explained my thoughts on this the best: "Everyone you will ever meet knows something you don't."

%p
  I'm not trying to take the high road here, it is how I truly feel. Just like everyone else, I judge people all day long. I use my judgment and my comparisons to make value assessments of people, but those value assessments are based on merit. I believe that it is damaging in the long run to purposefully create a diverse lineup based on things that are out a person's control. We have a long way to go to get there, but what we should be striving for is for those things to not ever be part of the conversation.

%h2 Actions speak louder than attributes
%p For the past 6 years I have been observing hundreds of people in our industry to try to create conference lineups of similar people. There is a baseline that I have looked for:

%ul
  %li
    They must work in our industry
  %li
    They must share knowledge with the community
  %li
    They must be somewhat social
  %li
    They must be respectful to others when they're challenged publicly (Think negative comments or tweets)
  %li
    Partial credit: They haven't spoken at a conf before

%p
  To keep an eye on these things, I have kept a long-running Twitter list of potential speakers. For anyone that I'm considering, I spend the better part of a year reading their tweets, their blog posts, and any other comments that I come across in social spaces like CodePen or Dribbble.

%p This baseline alone has made it so that I have never had a situation where I was embarrassed by what was being shared on the stage. A happy accident of this is that it led to something that the conference is known for, in that the speakers are accessible throughout the event.

%h3 Curation
%p If I only went by the baseline, I'd have to have hundreds of speakers every year. There has to be curation and that is typically based on a theme for the individual event.

%p
  %strong I am opinionated and biased.
  As I said before, I focused on creating similar lineups. In this, I have just been lucky that the lack of diversity that I have shown is in areas that aren't currently major social issues. My bias is in methodologies and technologies. I'm calling myself out here on some areas that my lineups have lacked diversity:

%ul
  %li I never had a back-end dev explain their viewpoint of front-end dev
  %li I only had jQuery presentations and never a MooTools one
  %li While I've had preprocessor agnostic presentations, I've had Sass presentations but never a LESS one
  %li Since 2011, I've had only pro-responsive presentations
  %li We served wonderful tasting, but unhealthy snacks
  %li The primary outings surrounding the actual conference were focused on bars

%p
  I'm sure that some people noticed these, but no one said anything. (One person did submit an anonymous suggestion about putting out vegetables instead of donuts and pizza, when we sent out a survey.) Despite the lack of feedback, I am quite sure that people have felt as if they didn't belong during certain presentations and in the "official" outings surrounding the conf. Diversity and inclusion are complex problems and they can easily lose out to creating an event for "like-minded people".

%h4 "What have you done for us lately?"
%p
  Playing off of Janet Jackson's hit and dating myself, this was often the initial deciding point for the first few invitations. I always thought it was important to stay current, so I would focus on things that had made significant impact in the time between events.

%h4 "I would pay just to see this person"
%p
  We all have our "web heroes", the people that have made a significant impact on our work or that do the kind of work that we hope to some day. Luckily, many of mine were the same as many other people in my area. There are certainly people that I reached out to knowing that their high visibility and fan base would interest more people to attend.

%h4 First-timers
%p
  There are so many people out there doing great work and I wanted to make sure that new voices were being heard on stage. This was an area where I forced diversity as I did specifically look for first-time conference speakers every year.
