---
layout: article
title: Fluid
category: General
date: March 12, 2012
slug: /general/fluid
published: true
--- 

%h1 Fluid

%p I'm an unapologetic fan of responsive web design. However, it's not necessarily the technique itself that has won me over. It is what it has done to the way I look at the web and the way I look at my role in building things for it.

%p Seeing responsive designs for the first time gave form to something that had always sat wrong with me in web design. At it's very nature, content put on the web is fluid. If you start a basic HTML document with text, that text will adapt to fill the alotted space. For years, we decided to put our own canvas in there. It never sat right with me but it took someone else describing it for me to put my finger on it. Thank you, Ethan.

%p Since then, there have been some other folks that have said wonderful things that define my feelings.

%blockquote
  "My love for responsive centers around the idea that my website will meet you wherever you are—from mobile to full-blown desktop and anywhere in between."
  %cite
    Trent Walton
    %a{:href => "http://trentwalton.com/2011/05/10/fit-to-scale"} Fit to Scale

%blockquote
  "We know very little about a visitor to our website. We actually know less and less every day, as the demographics of internet users widens (younger and older, no longer a nerd thing, more areas geographically, etc.) So as we march forward toward the next 6 billion people using the web, let's embrace the unknown by accommodating for it."
  %cite
    Chris Coyier
    %a{:href => "http://css-tricks.com/what-we-dont-know/"} What We Don't Know

%blockquote
  "So a responsive design doesn't mean you have to be entirely fluid. It just means it is "responding" to it's environment, and how you do this will be different based on the challenges of individual projects, the elements therein, and under what circumstances they are being viewed and interacted with."
  %cite
    Kev Adamson
    %a{:href => "http://www.kevadamson.com/talking-of-design/article/how-i-am-skinning-my-resposive-cat"} How I Am Skinning My Responsive Cat

%p So, the first two nail my thoughts about what the web should be. The third one, though, speaks more to what I think my role should be. Responsive web design isn't about resizing your browser, it's about embracing the medium and using technology to enhance the experience. It's about embracing the fluidity of web design practices the challenges of projects. It's vital to know and embrace that how I code something this week is different than 3 months ago and will be even more different in 3 months. For my sanity, it's important to remember that sometimes the waves will be going with me and sometimes they will be rolling against me. The most important part is not to make my own constraints, not get tied to specific code or methodoligies. Everything is changing and changing fast.

%p Be fluid.

%small March 12, 2012