---
layout: article
section: posts
title: Front-End Conf Lives!
category: Conferences
date: October 23, 2014
slug: /conferences/front-end-conf-lives
published: true
---

%style
  h1, h2, h3, h4 { color: #b51f24; }


%p.center
  %%img{ :src => "/assets/images/posts/conferences/front-end-conf-lives/plan-comes-together.jpg", :width => "400" }

%p
  The decision to stop running Front-End Conf was a very tough one and the reaction of the people both in St. Petersburg and Portland made it even more hard. Luckily, I knew it was going to be tough and I decided to call out a few of my friends. The awesome crew from <a href="http://unmatchedstyle.com/">Unmatched Style</a>, who run <a href="http://convergese.com/">ConvergeSE</a>, <a href="http://convergefl.com/">ConvergeFL</a>, <a href="http://convergerva.com/">ConvergeRVA</a>, and the <a href="https://bdconf.com/">Breaking Development confs</a> (amongst other things) came up on stage to give me a gift. I returned the favor by calling them out on the possibility of running a conf in St. Pete because that's the kind of thing friends can get away with. We've been chatting since and they're officially taking over!

%p.center
  %%img{ :src => "/assets/images/posts/conferences/front-end-conf-lives/converge-crew.jpg", :width => "100%" }

%h2 The Best Possible Outcome

%p
  Front-End Conf will continue on and will be in St. Petersburg in 2015! They will be handling all of the logistics and running the conf, which is the part Cherrie and I were struggling to keep up with. They're pros and I've learned so much from them as we've been sharing our conf running experiences over the past 6 years. (We missed each other's first confs, but I've traveled up for every ConvergeSE since 2010 and they've come down to St. Pete for every one since then as well.) The best part is that they still want us to be involved! So, we'll be helping out in every way that we can to work on the conf with friends to continue celebrating with this awesome community.

%h2 Stay in the loop!

%p
  We have a <a href="http://frontendconf.com">new landing page</a> whipped up by the team, with some of Giovanni's awesome artistry. Be sure to sign up for updates for when we have details...
