---
layout: article
section: posts
title: Front-End Conf '13
category: Conferences
date: July 18, 2013
slug: /conferences/front-end-conf-13
published: true
---

%img(src="https://s3.amazonaws.com/mixture-mixed/161/355/public/images/photos/2013/photo-booth/131.jpg"){:alt => "Front-End Conf"}

%p
  We recently wrapped up Front-End Conf 13 and it was awesome. We can't thank everyone enough for all that they do to make it such a good time. While it's a very busy few days, they are filled with these wonderful moments. I can't even explain how awesome it is to meet people attending their first event and see the excitement on their face or to hear the stories of people's paths over the past year. It is truly inspiring.

%h2 Scaling is Hard
%p
  We really wanted to go all out for our fifth event and we pulled off a few things that we hadn't done before. With so much information sharing jammed into 3 days, there was less time for getting to meet new people. I know this was true for us and I'm pretty sure that it was for attendees as well.
%p
  The people are why we do this and we love to get to spend time chatting and hanging out. We'll likely slow things back down a bit for future events.
%p
  The speakers on Day 2 killed it this year and it has grown to be nearly the size of Day 1, which makes me so happy! I'll need to rethink how to determine who gets the spots next year as I'd like to improve the overall flow of the day.
%p
  I got a tad too excited about the awesome talks planned for this year's Day 2 and I assumed that things would run similarly to previous ones. We all know what happens when you assume. I'll need to rework the schedule next round so that there is time for Q&A, attendee chatting, and smooth speaker transitions.
%h2 Future Plans
%p
  Before I share this next bit, I want to be sure to say that as long as we are running Front-End Conf there will be an annual event in St. Petersburg. We have a huge group of people that have supported us and we won't take it away. That said, we do have ideas for other cities and for different events as well. You'll likely see the first location at the end of the video...

.video-wrapper
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "387", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/70512830?byline=0&portrait=0", :webkitallowfullscreen => "", :width => "688"}

%h2 Thank you Github and MailChimp

.split
  %img(src="/assets/images/posts/conferences/front-end-conf-13/front-end-conftocat.png")

.split 
  %img.freddie(src="/assets/images/posts/conferences/front-end-conf-13/freddie-wink.png")

%p
  All of the sponsors help make the day rock, but we'd like to give an extra thank you to
  %a(href="http://github.com") Github
  and
  %a(href="http://mailchimp.com") MailChimp
  for the extra support to make things like the after party and the full bacon bar happen!

%h2 More Thank Yous
%p
  I start off each year by thanking the team, the speakers, sponsors and the attendees. However, I want to be sure to list off a few more people that helped make things rock.
%p
  Thank you to everyone who
  %a{:href => "http://www.indiegogo.com/projects/help-us-record-the-2013-front-end-design-conference-presentations?c=pledges", :title => "http://www.indiegogo.com/projects/help-us-record-the-2013-front-end-design-conference-presentations?c=pledges"} backed the videos
  and an extra big thank you goes to
  = succeed "," do
    %a{:href => "http://lessaccounting.com", :title => "http://lessaccounting.com"} Less Accounting
  %a{:href => "http://lessfilms.com", :title => "http://lessfilms.com"} Less Films
  and
  %a{:href => "http://appendto.com", :title => "http://appendto.com"} appendTo
  for all that they did!
%p
  Thank you to the Palladium team for always keeping things smooth. They handled that power issue with the quickness and even made a little splint for one of the stage characters that had a broken shadow.
%p
  There are some sizable teams that come out, so thank you lots to
  = succeed "," do
    %a{:href => "http://designzillas.com", :title => "http://designzillas.com"} Designzillas
  = succeed "," do
    %a{:href => "http://envylabs.com", :title => "http://envylabs.com"} Envy Labs
  %a{:href => "http://bigseadesign.com", :title => "http://bigseadesign.com"} Big Sea
  and
  %a{:href => "http://www.wihphotels.com", :title => "http://www.wihphotels.com"} WIHP
  for bringing out groups the size of sports teams.
%p
  Thank you to 
  %a(href="https://twitter.com/benmarte") Ben Marte 
  for helping so much with the workshop breakdown in spite of being told not to.
%p
  We love students as they are the future of our industry. Thank you to the squads that came out from Full Sail University, St. Petersburg PTEC and Clemson University. Special thank you to our head cheerleader,
  %a{:href => "http://twitter.com/bybrandonbrown", :title => "http://twitter.com/bybrandonbrown"} Brandon Brown
  at Full Sail as well as
  %a{:href => "http://twitter.com/ojbravo", :title => "http://twitter.com/ojbravo"} Omar Bravo
  at PTEC and
  %a{:href => "http://twitter.com/davidleininger", :title => "http://twitter.com/davidleininger"} David Leininger
  for sharing with the Clemson people.
%p
  Thank you to
  %a{:href => "http://natecroft.com", :title => "http://natecroft.com"} Nate Croft
  for coming out on such short notice to capture the day. You can see his 
  %a(href="http://www.flickr.com/photos/natecroft/sets/72157634330782555/") awesome pics
  on Flickr!
%p
  While I thanked the speakers on stage, I'm not sure that
  %a{:href => "http://twitter.com/nickawalsh", :title => "http://twitter.com/nickawalsh"} Nick Walsh
  and
  %a{:href => "http://twitter.com/drewbarontini", :title => "http://twitter.com/drewbarontini"} Drew Barontini
  were automatically in everyone's minds. So, I'm saying thank you very much for all the  hard work they put into the first workshop we've had!
%p
  Once again, thank you to
  %a{:href => "http://twitter.com/bencallahan", :title => "http://twitter.com/bencallahan"} Ben Callahan
  for rocking the conf on shorter notice.
%p
  Thank you to everyone that sang Happy Birthday to
  %a{:href => "http://twitter.com/parenteau", :title => "http://twitter.com/parenteau"} Michael Parenteau's
  daughter.
%p
  Thank you to everyone that submitted a
  %a{:href => "http://shoptalkshow.com/episodes/live-from-front-end-conf", :title => "http://shoptalkshow.com/episodes/live-from-front-end-conf"} Live Shop Talk Show
  question.
%p
  Thank you to
  %a{:href => "http://www.datztampa.com/dough", :title => "http://www.datztampa.com/dough"} Datz Dough
  for being such fun and professional vendors. They're the ones that made Cherrie's bacon dessert bar idea come to life.
%p
  Thank you to the
  %a{:href => "http://www.usfsp.edu/usc", :title => "http://www.usfsp.edu/usc"} USFSP Student Center
  for allowing us to extend Day 2 and get in a few more presentations.
%p
  Thank you to
  %a{:href => "https://vimeo.com/javifick", :title => "https://vimeo.com/javifick"} Javi Fick
  for being so awesome with scoring the video coverage and making our awesome wrap-up videos.
%p
  For the one person who instigated the awesome community gift, thank you. (You know who you are.)
%p
  Thank you to Push for always being so accommodating with the crazy weather that we have had for the past couple events.
%p
  A bow and thank you to all of the people that got up on stage at Octave and sang their hearts out.
%p
  Since I can never say it enough, thank you very much to
  %a{:href => "http://twitter.com/cherriedenney", :title => "http://twitter.com/cherriedenney"} Cherrie
  for all of the hard work that she does to make the days special.
