---
layout: article
section: posts
title: Give Back
category: general
date: October 7, 2014
slug: /conferences/give-back
published: true
---

%p.center
  %img.mhc(src="/assets/images/posts/general/give-back/give-back.jpg")
  %br
  %small Two of my favorite people <a href="https://twitter.com/carlsmith">Carl Smith</a> and <a href="https://twitter.com/andigrahambsd">Andi Graham</a>, who are always giving back to the community.

%p
  Some wonderful got together and made us an <a href="http://frontendthanks.com">awesome site</a> and printed off t-shirts. Thank you again to everyone involved and specifically to <a href="https://twitter.com/michigangraham">Matt Graham</a> and <a href="https://twitter.com/bencallahan">Ben Callahan</a> for heading things up. They also donated the proceeds from Cotton Bureau to us. Needless to say, we never planned on pocketing that.

%h2.mbf Giving It Back

%p
  There's an awesome opportunity to give back in a couple of ways. We really want this project to get funded: <a href="https://www.indiegogo.com/projects/code-debugging-the-gender-gap">CODE: Debugging the Gender Gap</a>. Additionally, one of the rewards gets someone 6 months of <a href="http:codeschool.com">Code School</a>. I love working there and the idea of someone getting 6 months to increase their skills.

%p
  So, we bought 2 of the $100 levels where someone gets the Code School reward and I want to give the rewards away.

%h2.mbf We Need Your Help

%h5.mbf Step one:
%p.mtf
  We need to know who to give these 2 rewards to. Are you in a point in your career where this could really make a difference? Or, do you know someone that it could really make a difference to? Pop your or their name in the form below and I'll do a random draw on Friday (October 10th).

%h5.mbf Step two:
%p.mtf.mbl
  <a href="https://www.indiegogo.com/projects/code-debugging-the-gender-gap">Share the project!</a> It has 4 days left and only needs $1,750 (at this moment).

%h4 Congratulations to Fasina and Ryan, our winners!
