---
layout: article
section: posts
title: Going Live With Number Five
category: Front-End Dev
date: March 20, 2013
slug: /front-end-dev/going-live-with-number-five
published: true
--- 

%img(src="/assets/images/posts/front-end-dev/going-live-with-number-five/stage.png")

%h2 A Month (or so) Late
%p 
  I have been planning to write this since before I launched this year's
  %a(href="http://frontendconf.com") Front-End Design Conference 
  site. Instead of timing it with the launch of the site, I'm piggybacking on the launch of the app that I used to build it: 
  %a(href="http://mixture.io") Mixture.io

%p
  I got lucky and scored a copy of the alpha for the app and have been chatting and learning from 
  %a(href="http://twitter.com/neiltak") Neil Kinnish 
  as they have been building it.

%h3 Goals for this year's site

%p
  I really dug the look of the '12 version, but felt pretty horrible about the markup and the performance. It was done in a rush and those things suffered.

%p
  For the '13 version I wanted to significantly reduce the HTTP requests, make better use of preprocessors, reduce page weight, reduce the amount of text and move away from Rails.

%h3 From Prototype to Production

%p
  I began using Mixture to prototype mainly for the ability to use some includes and fake some data (attendee profiles). I quickly learned that all of the front-end best practices were baked into the app: CSS minification, JS concatenation and minification, image optimization, S3 asset hosting and gzipping to mention a few.

%p
  Luckily, Neil offered to let me test using their pro option to host the site and I was no longer building a prototype!

%p I still have some loose ends and can do some more optimization, but here is how the new version is stacking up. Keep in mind I haven't had to even think about minifiying, S3, etc. It was all done for me with Mixture.

%h3
  Home Visual Comparison:
  %a(href="http://frontenddesignconf.heroku.com") 2012
  vs.
  %a(href="http://frontenddesignconference.com") 2013

%p There is one major change that is kind of cheating the comparison. I realized it was pretty irresponsible to automatically load all of the attendee profiles.

%h4 Home Page Weight 
%p 
  %small 2012
  1.8 MB vs. 229 KB
  %small 2013

%h4 Home HTTP Requests:
%p 
  %small 2012
  261 vs. 20
  %small 2013

%h4 Home Page Load Time:
%p 
  %small 2012
  13.83 seconds vs. 1.67 seconds
  %small 2013 

%h3 
  Prior Year Visual Comparison:
  %a(href="http://frontenddesignconf.heroku.com/2011") 2012
  vs.
  %a(href="http://frontenddesignconference.com/2011") 2013

%p The page is actually a little heavier but that is because I added in 9 sponsor logos. Overall, I'm still happy with the improvement in reducing the requests and load time.

%h4 Prior Year (2011) Page Weight 
%p 
  %small 2012
  625 KB vs. 641 KB
  %small 2013

%h4 Prior Year (2011) HTTP Requests:
%p 
  %small 2012
  54 vs. 39
  %small 2013

%h4 Prior Year (2011) Page Load Time:
%p 
  %small 2012
  6.47 seconds vs. 2.28 seconds
  %small 2013 

%h3 Wanna play?
%p 
  It's hard to explain how rad Mixture is without a video. If you want to play, 
  %a(href="http://mixture.io") download Mixture
  and
  %a(href="https://github.com/dandenney/front-end-conf") grab the front-end-conf repo.

%style
  p + h3 { margin-top: 2em; }