---
layout: article
title: Growing with Envy
category: General
date: July 2, 2012
slug: /general/growing-with-envy
published: true
--- 

%p I recently signed on with the Envy Labs team as a front-end dev to work on projects including Code School. This is a little post sharing how big of a change this is for me and how excited I am.
%h2 I found my Wufoo
%p
  Ever since I met the whole
  %a{:href => "http://wufoo.com/about"} Wufoo team
  at one of their weekly scrums, I've been saying that I wanted to "find my Wufoo". I was wowed by how they were a team of extremely talented individuals that worked together on a product that they cared about.

%p
  I have known of
  %a{:href => "http://envylabs.com"} Envy Labs
  for a while and paid attention to their client projects, community outreach and the team. What I've found in my first week is that they have all of the things that I have admired about that Wufoo team and they also work on a product that I love:
  %a{:href => "http://codeschool.com"} Code School

.columns
  .column
    %h2 A team that rocks
    %img{:alt => "Envy Labs", :src => "/images/posts/general/growing-with-envy/envy-labs.png"}/
    %p
      I am both intimidated and excited to be working on this team. It is comprised of highly talented and passionate people with varied skills. The best part, for me, is that I am working directly with 2 kickass front-end devs (
      %a{:href => "http://twitter.com/nickawalsh"} Nick Walsh
      and
      %a{:href => "http://twitter.com/#!/drewbarontini"} Drew Barontini
      with
      %a{:href => "http://twitter.com/jasonvanlue"} Mr. Jason VanLue
      on the dizigns.
  .column
    %h2 A product that I love
    %img{:alt => "Code School", :src => "/images/posts/general/growing-with-envy/code-school.png"}/
    %p I love the web and the people that build it. So, contributing to a team that is helping to improve the skills of builders is a dream come true. Code School has been my favorite of the online training options and now I get to actually work on it. There are so many great things in the works!
%h2 Amazing culture
%p
  I know that words like 'awesome' and 'amazing' get thrown around a lot, but I am really amazed. I had no idea that there were web companies with a culture like this in Florida. The way projects are formed and assigned, the location, the internal communication and the amenities are all top-notch. It is truly a special company and I am already so proud to be a part of it. Honors go to
  %a{:href => "http://twitter.com/greggpollack"} Greg Pollack
  for putting it all together and keeping it going.
%h2 Personal growth
%p I got a heads-up before I started about the tech that the front-end team uses so I jumped into learning Haml and Coffeescript. In a week, I'm already working writing Haml pretty comfortably. I can read Coffeescript but haven't written any yet outside of earning the badge. (We did have an awesome pairing session this morning, though.)
%p I'm diving back into using Terminal more and learned a bit more about setting up local Rails instances. On top of this, I have learned a ton just by listening to the way that the team communicates and discusses problems to solve. I can't even fathom where my skill level will be in a few months.
.columns
  %a.column{:href => "http://startupquote.com/post/4799610682"}
    %img{:alt => "Hiten Shah quote - you make your own luck. Every single minute of every day.", :src => "/images/posts/general/growing-with-envy/hiten-shah.png"}/
    Startupquotes.com
  .column
    %h2 How I got here and why I'm sharing
    %p So, the point of this post wasn't to boast about how rad of a job I landed. It was to share how fantastic things can be for you.
    %p As Hiten Shah says: "You make your own luck. Every single minute of every day".
%h2 Make your own luck
%p It took 4 web-related jobs across 4 years, a few bouts with freelancing, over 10k tweets, attending a bunch of events, doing lots of online training, reading thousands of articles, reading dozens of books and running 4 conferences to figure out what I wanted and come across an opportunity for it. (Oh, and responding in the right way to one DM).
%p More importantly, it took leaving people that I really cared about at those jobs in pursuit of another opportunity closer to my heart.
%p I want everyone to have the job that they're dreaming of. Keep sharpening your skills and be mindful of the things that really make you excited when you're working. Then, make your own luck! If you ever need a little inspiration, just watch Gary V's talk:
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "516", :src => "http://www.youtube.com/embed/EhqZ0RU95d4", :width => "688"}
%p
  Oh and I know an
  %a{:href => "http://codeschool.com"} awesome service for sharpening your coding skills
  when you're ready to get going. (wink, wink)
.post-standard-signature
  %small July 2, 2012

%link(href="/stylesheets/posts/general/growing-with-envy.css" rel="stylesheet")