---
layout: article
section: posts
title: I Forgot About Dre
category: General
date: January 27, 2014
published: true
---

.container

  %img{ :alt => "Beats ad with Dre", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/dre-ad.jpg" }/

  %blockquote
    Nowadays everybody wanna talk like they got something to say
    %br
    but nothin' comes out when they move they lips
    %br
    just a buncha gibberish
    %br
    and muthafuckas act like they forgot about Dre

  %p
    I'm quite familiar with Eminem's reminder not to forget about Dre, but I did it. I'm not sure that I would have survived the sunny streets of Seminole, FL without Dre and the rest of the N.W.A. crew. (I may have died of boredom.) Anyhow, I've been a Dre fan forever but I'm not a fan of the Beats headphones at all. Their sound quality isn't anything special and they're overpriced. I have just assumed it was one of those random wins where an endorsement worked out really well. 

  %h2 Hot UX you say?
  %p
    I had seen some internet things confirming that 
    %a(href="https://www.beatsmusic.com/")Beats Music 
    was a thing that now existed, but I really had no interest based on the headphones and the fact that I already rock Rdio and Spotify subscriptions. (I'm testing Google Play, too.) Then I read
    %a(href="https://medium.com/dear-blank/69f99fc29d1") Rooting for Rdio
    and Aaron Schildkrout opened by saying "This week Beats Music dropped with a shout. A 20mm plus title, hot-UX, curatorial, etc etc blah blah blah music streaming service." Now I was curious.

  %h2 I Need a Doctor!
  %p
    Hot UX was an understatement. This was the best onboarding experience that I've had on an iPhone app and overall it's instantly a competitor with the other players. I used FB to create my account and here was the initial flow.

  .grid

    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-01.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-02.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-03.jpg" }/

    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-04.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-05.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-06.jpg" }/

  %h2 I'm Moody With Music
  %p
    Music is a huge part of my life you'll find everything from Bach to 2Pac in my collection. What I choose to listen to all depends on my mood and what I'm doing. So this "sentence" mode is something I'll use a lot. Going with hip-hop was kind of a softball for Beats Music so I threw it a curveball with an alt lineup too. Both were spot on.

  .grid
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-07.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-08.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-09.jpg" }/

    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-13.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-14.jpg" }/
    %img{ :alt => "Beats Music", :class => "grid-box--1of1 grid-box--m--1of3", :src => "/assets/images/posts/front-end-dev/forgot-about-dre/bm-15.jpg" }/

  %h2 The Aftermath
  %p
    The collection is huge and there were a couple of small wins right away. Two things that have given me a sad face recently was that Rdio seems to have lost the rights to my favorite album from The Magic Numbers and the explicit version of Foiled by Blue October. Sure, I could listen to the Kid Jam version but Blue October goes to dark places that are best served with some profanity. Both are available in Beats. 

  %p
    One differentiator is that it comes off as having a deeper appreciation of music than any others. A shining example is a featured playlist with <a href="https://listen.beatsmusic.com/playlists/pl139509655985455616">songs from the producer Jimmy Iovine</a>.

  %p
    As for daily use, the iPhone app rocks but there isn't an iPad app or a Mac app (yet). The web interface is huott like the iPhone app, but I try to avoid browser playing because of the screeches that happen whenever memory takes a hit. I'm on a 3-month free family trial (Thanks AT&T!) so I'm sure I'll have figured out where it fits by then. I have the feeling that it will replace one of the services, but it will be hard to ever leave Rdio based on their Mac app and remote play.


%style .grid { overflow: hidden; } .grid-box--1of1 { display: block; margin-bottom: 1em; } @media (min-width: 768px) { .grid-box--m--1of3 { float: left; margin: 0 1% 1em 1%; width: 31%; } }






  

