---
layout: article
title: Mixture and Firebase and Public APIs
category: Front-End Dev
date: April 7, 2013
slug: /front-end-dev/mixture-and-firebase-and-public-apis
published: true
--- 

%h3 I'm learning how to work with APIs and how to share via video

%p I recently wrote about how important it is to share video of your tasks, so I'm trying to to walk the walk. It does not mean that I'm good at it yet, but I really want to be. Aside from saying "don't have the voice of a pre-pubescent teen", I'd love some constructive feedback on how this could be better.

%p 
  That said, I'm sharing my progress with API learning and this video is showing how I'm using 
  %a(href="http://mixture.io") Mixture 
  and 
  %a(href="http://firebase.io") Firebase
  to learn how to work with a public API. Mixure makes front-end development quick and easy, while Firebase does the same for data management.

.video-wrapper
  %iframe{:allowfullscreen => "", :class => "fitvid", :frameborder => "0", :height => "438", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/63539963", :webkitallowfullscreen => "", :width => "700"}

%p 
  Neil from Mixture did a video on getting data from Firebase and how easy it is to display the data without writing JavaScript, too.

.video-wrapper
  %iframe{:allowfullscreen => "", :class => "fitvid", :frameborder => "0", :height => "394", :src => "http://www.youtube.com/embed/RpEdeQapjjk", :width => "700"}