---
layout: article
section: posts
title: No Sleep til Portland
category: Conferences
date: July 21, 2014
slug: /conferences/no-sleep-til-portland
published: true
---

%p
  Ok, we will sleep.
  %a{ :href => "http://twitter.com/carlsmith" } Carl Smith
  made it clear how important sleep is during his awesome talk in St. Pete. It's more like "Portland or Bust", but
  %a{ :href => "http://twitter.com/nathanyoder" } Nathan Yoder
  just claimed that recently as he moved there.

%img(src="/assets/images/posts/conferences/no-sleep-til-portland/portland-or-bust.png")

%h2 Can we promote a conf in 5 weeks?

%p
  We knew the scheduling was going to be tight, but we underestimated the time that it would take to pull off St. Pete this year. Well, I did. Cherrie warned me many times. Anyhow, we have some details to still work out, but we're looking forward to celebrating front-end and meeting the Portland community.

%h2 "We'll get by with a little help from our friends"
%p
  We will make the day happen. We have an awesome location and fantastic speakers coming out. However, there is no way that we can let enough people know that it is happening on our own.

%p
  I'm usually like Joe Pesci in My Cousin Vinny, trying to do everything I can without help. However, I owe it to the speakers to make sure that enough people know about this so they get the chance to see them. So I'm swallowing my pride and asking for your help!

%h3 #frontendconfpdx
%p
  Of course, I'd like to sweeten the deal a little bit. If you share some reason to attend and use the #frontendconfpdx hashtag, I'll do a random draw to win a gift. (I'll draw this Saturday, July 21) I <a href="https://www.kickstarter.com/projects/essmaker/the-great-discontent-magazine-issue-1">backed The Great Discontent</a>, so I have an unopened set with a magazine, tote bag, and poster. The URL:
  %a{ :href => "http://frontendconf.com" } frontendconf.com

%img{ :alt => "photo of The Great Discontent package", :src => "/assets/images/posts/conferences/no-sleep-til-portland/tgd.jpg" }
