---
layout: article
title: Ricardo Rally Time
category: General
date: February 27, 2013
slug: /general/ricardo-rally-time
published: true
--- 

%img(src="/assets/images/posts/general/ricardo-rally-time/all2.png")

%h2 Help Me, Help Ricardo
%p 
  Ricardo Gimenes, who does all of the illustrations for Front-End Conf, is crowd funding an iPad app.
  %a(href="http://catarse.me/en/vectorlooza") Vectorlooza
  is his take on how an illustrator app on the iPad should look and feel. 

%p
  The video is entertaining and it looks like it would be a rad app. I'm a huge Ricardo fanboy, so I want to try to help with the last push for him to make his goal.

%h3 You know you want a character...

%p
  I backed the project at a level that will reward me with 3 characters (if the project reaches its goal). I will gladly give these characters away in exchange for some social sharing.

%p
  Tweet something to promote Vectorlooza, link up
  %a(href="http://catarse.me/en/vectorlooza") http://catarse.me/en/vectorlooza
  and include #frontendconf so I can track them.

%p 
  If the project reaches its goal, I will do a random draw from those who share for the characters.
