---
layout: article
section: posts
title: Thank You
category: Conferences
date: August 28, 2014
slug: /conferences/thank-you
published: true
---

%style
  h1 { display: none; }

%p.center.mtl
  %img.mhc(src="/assets/images/posts/conferences/thank-you/thank-you.svg")

%p.center
  %img.mhc(src="/assets/images/posts/conferences/thank-you/matt-graham.jpg")

%p
  So last Friday on the morning of Front-End Conf Portland, I had run downstairs to get coffee. As I'm known to do, I checked Twitter while waiting my turn and saw this tweet.

.mhc
  <blockquote class="twitter-tweet" lang="en"><p>We love <a href="https://twitter.com/dandenney">@dandenney</a> and <a href="https://twitter.com/CherrieDenney">@CherrieDenney</a>! Lets let them know how much <a href="https://twitter.com/frontendconf">@frontendconf</a> peeps! <a href="http://t.co/Ib19F3vomz">http://t.co/Ib19F3vomz</a> &#10;&#10;<a href="https://twitter.com/hashtag/frontendthanks?src=hash">#frontendthanks</a></p>&mdash; Matt Graham (@michigangraham) <a href="https://twitter.com/michigangraham/statuses/502813335130472448">August 22, 2014</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

%p I only got a quick peek at it before it was my turn, so I just texted Cherrie: "Did you see what Matt made?" Fast forward 5 minutes and I walked into our hotel room to see Cherrie like this:
%p.center
  %img.mhc(src="/assets/images/posts/conferences/thank-you/emobrit.gif")

%h2 Oh. My. Goodness.

%p
  I sit down to take a peek and I was absolutely floored. There's a full site, dozens of messages, photos, and a Cotton Bureau shirt that's gorgeous?! The <a href="http://seesparkbox.com">Sparkbox</a> folks are involved as well...


.mhc
  <blockquote class="twitter-tweet" lang="en"><p>We love <a href="https://twitter.com/dandenney">@dandenney</a> and <a href="https://twitter.com/CherrieDenney">@CherrieDenney</a>! Lets let them know how much <a href="https://twitter.com/frontendconf">@frontendconf</a> peeps! <a href="http://t.co/RqjBTb6EiD">http://t.co/RqjBTb6EiD</a> &#10;&#10;<a href="https://twitter.com/hashtag/frontendthanks?src=hash">#frontendthanks</a></p>&mdash; Sparkbox (@hearsparkbox) <a href="https://twitter.com/hearsparkbox/statuses/502814493081358336">August 22, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


%p
  I immediately realize that some serious time and planning went into this project. Completely stunned and honored, I started reading through the messages and that was the best part. You don't always know what kind of impact that you have on people, but here was a site with a bunch of our favorite people sharing exactly that. It's been a week and I still can't put into words just how awesome this was.

%h2 We have the best friends

%p
  To get an idea of all of the people involved, check out <a href="http://frontendthanks.com">the site</a> and the <a href="https://github.com/mattgraham/frontendthanks">Github repo</a>. That was just the start, too! Throughout the day there were tweets on the hashtag and people buying shirts for their whole team. It was crazy and it's all because we have been so lucky to meet such amazing people throughout the past 6 years while running the conference. This is the kind of thing that will stick with us for our entire lives.

%p
  Thank you so very, very much to everyone. You made our year! Extra thank yous go to <a href="https://twitter.com/michigangraham">Matt Graham</a> for heading up this huge undertaking and rallying everyone, to <a href="https://twitter.com/bencallahan">Ben Callahan</a> for setting up the Cotton Bureau project, and to <a href="https://twitter.com/jeremyloyd">Jeremy Loyd</a> for designing the awesome shirt.

%p
  Speaking of the shirt, it feels weird promoting it because we are benefitting from it but they are only available for a limited run. If you want one, there's <a href="https://cottonbureau.com/products/to-dan-and-cherrie">6 days left</a> to grab it. I can't wait to rock one.

%p.center
  %img.mhc(src="/assets/images/posts/conferences/thank-you/give-back-shirt.jpg")
