---
layout: article
section: posts
title: The Web Community is Wonderful
category: Front-End Dev
date: May 28, 2014
slug: /front-end-dev/the-web-community-is-wonderful
published: true
---

.container

  %h5 Sharing is actually easy, what happens afterward sometimes isn't

  %p
    I saw a tweet this morning and I was really happy.

  <blockquote class="twitter-tweet" lang="en"><p>Just saw a cool CSS trick, &quot;border-radius: 50%&quot; to turn a square image into a circular one. Seen at <a href="http://t.co/4TltkL3wv2">http://t.co/4TltkL3wv2</a></p>&mdash; Peter Cooper (@peterc) <a href="https://twitter.com/peterc/statuses/471614998775869440">May 28, 2014</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  %p
    I saw the replies and I was all like:
  <img src="{{ "conan-reaction-gifs.gif" | asset_url }}" alt="Dan Denney" />

  %p
    I want it so much that I'm going to run an event to make it happen.

  %h2 Sound cool?
  %p
    If this sounds like something you'd be even remotely interested in, would you mind answering a couple questions?

  <!-- Change the width and height values to suit you best -->
  <div class="typeform-widget" data-url="https://dandenney.typeform.com/to/Kj3vxs" data-text="APIapalooza" style="width:100%;height:500px;"></div>
  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
