---
layout: article
section: posts
title: Why Grok is Special
category: Conferences
date: April 7, 2014
slug: /conferences/why-grok-is-special
published: true
---

.container

  %figure
    %img(src="/assets/images/posts/conferences/why-grok-is-special/grok-01.jpg" alt="Grok intro")
    %figcaption Eric, kicking off the first day

  %h2 My Personal Take

  %p
    I attend many events and run a few of my own. When I first started with them, I was mostly interested in learning from the presentations. It was wonderful to be around so many like-minded people, but my shyness limited the amount of interaction I would have. As an information junkie, I've become less focused on the presentations and more on the people. I love the stories behind the speaker's path and I cherish the conversations during breaks and after parties. Those conversations have become why I attend events, despite the fact that there's much less time dedicated to them.

  %p
    Grok took my favorite part of events, added some structure, and made it the focus. That's why I loved it, but let me explain a little more generally why it is special.

  %h2 General Gushing

  %p
    First things first, it's the people who made it happen. A collection of hard-working, kind people teamed up and you could feel their touch in everything from the amenities to the communication.

  %figure
    %img(src="/assets/images/posts/conferences/why-grok-is-special/grok-02.jpg" alt="Grok intro")
    %figcaption Pour over coffee option

  %p
    As makers themselves, they really embraced the maker mentality with the opt-in features. Attendees had access to a wide range of complimentary snacks and beverages, but there was also the option to purchase some fantastic pour over coffee. Shirts weren't part of the swag, but you could have a local screen printer make one for you right there for $12. There was a "make your own sticker set" option as well.  All of the tables in the common space were loaded with some building set, which people used to create some very creative things.

  %p
    For $50, you could drive a high-performance BMW on a race track. The joy and accomplishment in the faces of the people when they were done was awe inspiring. This was a once-in-a-lifetime experience for many, I'm sure. A funny part was that you could also see the exhaustion set in as the adrenaline wore off.

  %p
    While there were a few presentations, the focus of the time was the 10/20s. In these, small groups of people get together and discuss multiple topics, each for either 10 or 20 minutes. The topic is started by anyone in the group and they ask for the 10 or 20 minte window. They could talk for the full time, talk for a little bit and open up group discussion, or pose a question to the group and go around. The sessions of 10/20s were for a specified time range and the groups were shuffled for each round. They were so fantastic! Topics ran the full range from existential discussions to interests to feedback on specific items. This explanation doesn't do them justice, but they were seriously awesome.

  %p
    This format made it so that people were introduced to dozens of new people and got to hear them chime in on all sorts of topics. One of the most exciting things was that there were multiple introverts and socially anxious people in the groups who were actively participating. The bit of organization and topic-driven conversation made this more comfortable for them, which rarely happens at the standard events. The people participating were from all types of backgrounds and with all types of current roles in creating. There was so much to learn from.


  %figure
    %img(src="/assets/images/posts/conferences/why-grok-is-special/grok-05.jpg" alt="Grok intro")
    %figcaption Creative way to display sponsors

  %p
    Along with this, all of the standard things were handled very well. The appreciation of the team, the speakers, the sponsors, and the attendees was made very clear. The parties were a lot of fun and in different places. The first night was a bar with lots of pool tables and dart boards to get people interacting. The Facebook party was an open-air event along the gorgeous river walk, with a cigar bar that was quite a hit. There was a live band, cool air, and lots of conversation.

  %figure
    %img(src="/assets/images/posts/conferences/why-grok-is-special/grok-04.jpg" alt="Grok intro")
    %figcaption Giovanni finished me off with 2 darts

  %figure.mtl
    %img(src="/assets/images/posts/conferences/why-grok-is-special/grok-06.jpg" alt="Grok intro")
    %figcaption Thank you, Facebook

  %p
    So while you may have missed out on something cool this year, the good news is that there will be plenty more of them. The Unmatched Style team will be working with them to bring Grok to more places, too. The UMS team are great people who run some other awesome events like
    %a{ :href => "http://convergese.com/" } ConvergeSE,
    which you can still get to in a few weeks.

  %p
    If you'd like to see what was shared from this Grok, check out the <a href="https://tagboard.com/grok14">tagboard</a>.
