---
layout: layout
---

%section.row

  :sass
    li
      list-style: disc
      margin: 0 0 0 1.5em

  %h2 ES6 for everyone!

  %ul

    %li Great explanation of the function scope vs. block scope for understanding the benefit of `let` vs `var`
    %li
      Terminology: IIFE is immediately invoked function expression:
      %pre
        %code
          (function(){

          })();
    %li Great example for how `let` is beneficial in for loops
    %li Learned about implicit return and how it's used by fat arrows for single-liners
    %li Great reminder of console.table(), I had forgotten about it
    %li classList.toggle is a thing
    %li I now understand the "why" behind the need for `var self = this;` and how arrow functions transfer the scope of `this`
    %li Awesome example of how to troubleshoot a UI glitch and how the use of variables makes for a clean fix
