---
title: Taste
date: January 29, 2014
---

%p
  One of my all-time favorite quotes got a really nice typographical treatment. It is one of the most important things I've ever heard and should be shared with everyone getting into any form of creative work.

%p
  Ira Glass, on taste.

.video-wrapper
  %iframe{:allowfullscreen => "", :class => "fitvid", :frameborder => "0", :height => "438", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/85040589", :webkitallowfullscreen => "", :width => "700"}

<p><a href="http://vimeo.com/85040589">THE GAP by Ira Glass</a> from <a href="http://vimeo.com/frohlocke">frohlocke</a> on <a href="https://vimeo.com">Vimeo</a>.</p>