---
layout: post
title: This Week I Learned (Aug 8-14)
date: August 14, 2016
---

%p
  Progressive Web Apps are my focus these days. I love the ideas behind them and they use all of the tech that I have been wanting to learn. On top of Jon Duckett's <a href='http://www.javascriptbook.com'>Javascript Book</a>, these are the articles that I learned from this week.

%h4.mbf.twn
  %a{ href: 'https://www.smashingmagazine.com/2016/08/a-beginners-guide-to-progressive-web-apps/'} A Beginner's Guide to Progressive Web Apps
%p.mtf
  This is a great primer. It describes what PWAs are and how to get started in building them. The biggest takeaway for me was the details on the manifest file and I'll be referencing this when I need to do make one.

%h4.mbf.twn
  %a{ href: 'https://medium.com/@owencm/designing-great-uis-for-progressive-web-apps-dd38c1d20f7#.pejusrz5a'} Designing Great UIs for Progressive Web Apps
%p.mtf
  There is so much to think about in creating an app-like feel and I'm likely going to reference this a thousand times until it's all etched in my memory. He covers so many great details to consider.

%h4.mbf.twn
  %a{ href: 'https://cloudfour.com/thinks/designing-responsive-progressive-web-apps'} Designing Responsive Progressive Web Apps
%p.mtf
  This article reference's Owen's post on UI and expands on it as well. It's more of a thinkpiece, weighing out the pros and cons of how much to adapt your app to the OS. I loved it because it's another thing that I now know to consider as I'm building.

%h4.mbf.twn
  %a{ href: 'https://remysharp.com/2016/08/09/var-const-let'} var const let
%p.mtf
  Remy shares some quick thoughts on when to use these. He's writing mostly in the context of Node, but it helps either way. I'm not writing ES2015 yet, but the tl;dr is in my head now: always use const, except for primitives whose value will change, then use let.

%p
  Semi-related, I learned what primitives are after reading this. Like many things in JS, it's straight forward once you get a good explanation. The majority of mine have been coming form Jon Duckett's book, but primitives are all of the "simple" data types: string, number, boolean, undefined, null. In contrast, the "complex" data type is an object. TWIL, yo.
