{% layout "index" %}
{% block content %} 
  
  <!-- TODO: Need to write up an about and create a layout -->

	<article>
		<h1>About</h1>
		<p>Need to do something on this page...</p>
	</article>

{% endblock %}