{% layout "index" %}
{% block content %}

	<form>
		<fieldset>
			<label for="findTitle">Title</label>
			<input id="findTitle" name="findTitle" type="text" />
		</fieldset>
		<fieldset>
			<label for="findName">URL</label>
			<input id="findUrl" name="findUrl" type="text" />
		</fieldset>
		<fieldset>
			<label for="findDescription">Description</label>
			<input id="findDescription" name="findDescription" type="text" />
		</fieldset>
		<p id="findSubmit" name="findSubmit">Add</p>
	</form>

	<form>
		<fieldset>
			<label>Date</label>
			<input id="coffeeDate" type='date'>
		</fieldset>
		<fieldset>
		  <label>Number</label>
		  <input id="coffeeCount" type='number' value='0'>
		</fieldset>
		<button id='countDown'>
		  down
		</button>
		<button id='countUp'>
			up
		</button>
	</form>

	<ul id="recentFinds">

		<!-- Firebase data from https://dandenney.firebaseio.com/recentFinds -->

	</ul>

{% endblock %}

{% block scripts %}

	<!-- Adds Firebase and quanitifer for Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	{{ "quantifier.js" | asset_url | script_tag }}


  </script>

{% endblock %}
