{% layout "none" %}
{% contenttype "application/xml" %}
<rss version="2.0">
	<channel>
		<generator>Mixture</generator>
		<title>Dan Denney : Articles</title>
		<link>http://dandenney.com</link>
		<description>Front-End Dev at Envy Labs and Founder of Front-End Conf</description>
		<language>en</language>
		<webMaster>dd.subscriptions@gmail.com</webMaster>
		<copyright>&amp;copy;{{ 'now' | date: "%Y" }} Dan Denney</copyright>
		<pubDate>Thu, 06 Jun 2013 12:17:05 GMT</pubDate>
		<lastBuildDate>Thu, 06 Jun 2013 12:17:05 GMT</lastBuildDate>
		{% collection "posts" by 10 order desc %}
			{% include "articles/rss-item" with collection.items %}
		{% endcollection %}
	</channel>
</rss>