{% layout "index" %}
{% block content %} 
	
	<section class="posts">
		
		<h1>Tinkerings</h1>
		<p>Front-end devign mini projects</p>
			
		<ul>
			
			{% collection "tinkerings" by 100 order desc %}
				{% include "articles/article" with collection.items %}
				{% include "articles/paging" %}
			{% endcollection %}
			
		</ul>

	</section>

{% endblock %}