---
layout: flexbox
---

%header

  %nav.container

    %a.nav-brand{ href: "/" }
      %img.brand{ src: '/assets/images/solverizer.svg' }
      %h1.title Solverizer

    %a.nav-link.nav-clues{ href: "#" } Clues
    %a.nav-link.nav-suspects{ href: "#" } Suspects

%section.container.clue-container

  %article.clue.clue-primary

    %h2.clue-primary-title

      The Curious Case of whatever happened in our course example.

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-tie.png', width: '35' }
    .clue-info
      %div
        %h3.clue-title A brown necktie
        %p.clue-description These will be illustrations along with some kind of text, either a sentence or a paragraph or a list. Who knows, maybe even a combo?

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-pipe.png', width: '100' }
    .clue-info
      %div
        %h3.clue-title Tobacco Pipe
        %p.clue-description This pipe was found outside the door of the amusement park office, soon after the ghost was seen flying by.

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-pocketwatch.png', width: '80' }
    .clue-info
      %div
        %h3.clue-title Gold Pocket Watch
        %p.clue-description These will be illustrations along with some kind of text, either a sentence or a paragraph or a list. Who knows, maybe even a combo?

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-cane.png', width: '30' }
    .clue-info
      %div
        %h3.clue-title Cane
        %p.clue-description These will be illustrations along with some kind of text, either a sentence or a paragraph or a list. Who knows, maybe even a combo?

%section.container.form-container

  %h2 Notifications

  %p Get notified when a new clue is added.

  %form

    .fieldset
      %label.add-label Email
      %input.add-input{ type: "text" }
      %button.add-button Notify Me
