---
layout: flexbox
---

%style
  body{ padding: 20px; }

%article.clue
  %img{ src: '/assets/images/solverizer-pipe.png', height: '32', width: '100' }
  %p This pipe was found outside the door of the amusement park office, soon after the ghost was seen flying by.
