---
layout: flexbox
---

.level-1-media-element

  %article.clue
    %img{ src: '/assets/images/clue-key.png', height: '150', width: '150' }
    .clue-info
      %h3.clue-title Gold Skeleton Key
      %p.clue-description
        This skeleton key was found in some bushes on Parsons road, where the suspect was seen hiding before they escaped.
