---
layout: flexbox
---

:sass
  body
    padding: 0 20px

%section.container.form-container

  %h2 Notifications

  %p Get notified when a new clue is added.

  %form

    .fieldset
      %label.add-label Email
      %input.add-input{ type: "text" }
      %button.add-button Send
