---
layout: flexbox
---

:sass
  body
    padding: 0 20px

%section.container.clue-container

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-tie.png', width: '35' }
    .clue-info
      %div
        %h3.clue-title Brown necktie
        %p.clue-description The neutral tones help its owner blend in with any background — especially the faded wallpaper in the aging haunted house.

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-pipe.png', width: '100' }
    .clue-info
      %div
        %h3.clue-title Tobacco Pipe
        %p.clue-description The musty smell of old tobacco wafts from this vintage pipe — which wasn’t actually vintage when the owner purchased it new.

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-pocketwatch.png', width: '80' }
    .clue-info
      %div
        %h3.clue-title Gold Pocket Watch
        %p.clue-description The telltale ticking of this pocket watch echoes throughout the halls of the haunted house, bouncing off sheet-covered furniture… or ghosts.

  %article.clue
    .clue-img
      %img{ src: '/assets/images/solverizer-cane.png', width: '30' }
    .clue-info
      %div
        %h3.clue-title Cane
        %p.clue-description There’s a dusting of hard-candy sugar along this solid-oak cane, which is ideal for enthusiastic pointing while lecturing whippersnappers.
