---
blog: posts
---

%section.row

  .well.por

    .title-bg.title-bg--fixed

      %h1
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 618.4 147.5"><style>.st0{fill:#F5F5F5;} .st1{font-family:&apos;Gibson-Bold&apos;;} .st2{font-size:203.8391px;}</style><text transform="translate(-9.632 144.348)" class="st0 st1 st2">POSTS</text></svg>

    .cell.cell--s

      %p "Official" blog posts

      - blog.articles.each_with_index do | article,i |
        %h4.mbm
          = link_to article.title, article
          %span.tcs.tsxs.twn= article.date.strftime('%b %e')
