---
blog: tinkerings
---

%section.row
  .cell.cell--s
    .well

      %h1 Tinkerings
      %p Experiments and beginnings of projects

      - blog.articles.each_with_index do | article,i |
        %h4.mbm
          = link_to article.title, article
          %span.tcs.tsxs.twn= article.date.strftime('%b %e')
